{% if wo_breadcrumbs()|length %}
  <ul class="breadcrumbs">
    {% for b in wo_breadcrumbs() %}
      {% if loop.last %}
        <li {% if loop.first %}class="first"{% endif %}>{{ b.text }}</li>
      {% else %}
        <li {% if loop.first %}class="first"{% endif %}><a href="{{ b.url }}">{{ b.text }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
