{% extends 'LmCmsBundle::cms_layout.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}
{% block page_title %}{% endblock %}
{% block article_class %}subPageContent contact{% endblock %}

{% block content_inner %}
    <div class="thanksHeader">Dziękujemy!</div>
    <div class="thanksInfo">Twoje zapytanie zostało wysłane.</div>
    <div class="thanksBack">
        <a href="{{ path('lm_cms_main_homepage') }}">Kliknij</a>, aby powrócić do strony głównej.
    </div>
{% endblock %}
