{% extends 'LmCmsBundle::cms_layout.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}
{% block page_title %}{% endblock %}
{% block article_class %}subPageContent contact{% endblock %}

{% block content_inner %}
    <div class="contactHeader">Katalogiem firm zarządza:</div>
    <div class="leftContact">
        <p>JATEX</p>
        <p>ul. Grodzka 15</p>
        <p>23-200 Kraśnik</p>
        <p>NIP: 715-100-43-24</p>
        <a href="maito:{{ cms_config.get('formularz_wysylka_email') }}">{{ cms_config.get('formularz_wysylka_email') }}</a>
    </div>
    <div class="centerContact">
        <div></div>
        <div></div>
    </div>
    <div class="rightContact">
        <div class="askQuestion">Zadaj pytanie lub zgłoś błąd:</div>
        <div class="clear"></div>

        <form method="post" action="{{ path('lm_cms_main_contact') }}">
            {% if form_errors(form)
                or form_errors(form.title)
                or form_errors(form.email)
                or form_errors(form.content)
                or form_errors(form.captcha)
              %}
                 <div class="errors">
                     <span>Formularz został błędnie wypełniony:</span>
                     {{ form_errors(form) }}

                     {{ form_errors(form.title) }}
                     {{ form_errors(form.email) }}
                     {{ form_errors(form.content) }}
                     {{ form_errors(form.captcha) }}
                 </div>
             {% endif %}

            <div class="inputLeft">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            <div class="inputRight">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>

            <div class="clear"></div>
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}

            <div class="captcha-wrapper">
                {{ form_widget(form.captcha) }}
            </div>

            <div class="submit">
                <input type="submit" value="Wyślij"/>
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}
