{% extends 'LmCmsBundle::cms_layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block page_title %}{{ offersTitle }}{% endblock %}
{% block article_class %}subPageContent realisations homepage{% endblock %}

{% block content_inner %}
    {% if offers | length %}
        <div id="offers_map" style="height: 320px;" data-offers="{{ offersJson }}" data-scrollOnMarkerClick="true"></div>

        <div class="realisationsGallery">
            {% include 'LmCmsBundle:Offer:offersList.html.twig' with { 'offers': offers } %}
        </div>
        <div class="clear"></div>
    {% endif %}
{% endblock %}
