<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    {% block head %}
    	{% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="Description" content="{% block description %}{% endblock %}" />
		<meta name="google-site-verification" content="3EDz-6t6MQeykagPWU4Jyaz0qrrSfMgBAHuOs6_oM5k" />
		{% endblock %}

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

    {% endblock %}
    </head>
    
    {% set informationPopupFlash = app.session.flashbag.get('informationPopup') %}
    {% set informationPopupText = informationPopupFlash ? informationPopupFlash[0] : '' %}
    
    <body 
        class="{% block body_class %}{% endblock %}" 
        {% if informationPopupText %}data-informationPopup="{{ informationPopupText }}"{% endif %}>
        {% block body %}

        {% endblock %}
    </body>
</html>