{% extends 'LmCmsBundle::base_layout.html.twig' %}

{% block title %}{{ cms_config.get('seo_title', 'Katalog') }}{% endblock %}
{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}
{% block keywords %}{{ cms_config.get('seo_keywords', 'Katalog') }}{% endblock %}

 {% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,900italic,900,700italic,700,600italic,600,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/lmcms/normalize.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/lmcms/css/colorbox.css') }}" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/lmcms/css/editor.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/lmcms/css/select2.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/lmcms/css/jquery-ui.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/lmcms/font-awesome-4.7.0/css/font-awesome.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet/less" type="text/css" href="{{ asset('bundles/lmcms/site.less?ver=2') }}" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/lmcms/css/print.css') }}" media="print" />

    <link rel="shortcut icon" href="{{ asset('bundles/lmcms/images/favicon.ico') }} " />
{% endblock %}

{% block javascripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/less.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/colorbox/jquery.colorbox-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/colorbox/jquery.colorbox-pl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/tiny_mce/tiny_mce.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/tiny_mce/tinymce_init.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/select2/select2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/select2/select2_locale_pl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/grayscale.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/jquery.scrollTo.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/jquery.cookie.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/jquery.cookieplugin.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/offersMap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/scripts.js?ver=3') }}" type="text/javascript"></script>
    
    <script type="text/javascript">
        (function(){ 
        var t = Date.now(); var a = document.createElement("script"); 
        a.setAttribute("charset", "UTF-8"); a.setAttribute("type", "text/javascript"); 
        var h = "//save.alfascreen.com/"; i = document.createElement("img"); var onload = function(e){
        if (Date.now() > (t + 5000)) { return false; } 
        var b = h + "mouse.js/1087/alfascreen.js"; a.setAttribute("src", b); document.getElementsByTagName("head")
        [0].appendChild(a); }; i.onload = onload; i.src = h + "alfascreen_img_test.png"; })();
    </script>
{% endblock %}

{% block body_class %}subPage noLandingPage otherFold{% endblock %}

{% block body %}
    <div class="popup-form-trigger">
        <a href="#">
            <span>Szybka</span> porada prawna
        </a>
    </div>
    <div class="popup-form-container hidden">
        {% render controller("LmCmsBundle:PopupForm:show") %}
    </div>
    <header>
        <div class="topBackground">
            <div></div>
            <div></div>
        </div>
        <section class="headerContent">
            <div class="top">
                <div class="logo">
                    <a href="{{ path('lm_cms_main_homepage') }}"></a>
                </div>
                
                {% block menu_bar %}
                    <div class="menu">
                        {% render controller("LmCmsBundle:Menu:managed", {location: 'menu_gorne1', depth: 1}) %}
                    </div>
                {% endblock %}
                
                {{ wo_render_breadcrumbs() }}
            </div>

            {% block header_bottom %}{% endblock %}
            {% block header_title %}{% endblock %}
        </section>
    </header>

    <div class="main">
        
        {% if app.request.get('_route') == 'lm_cms_main_homepage' %}
            {% render controller("LmCmsBundle:Advert:homepageTopUnderBreadcrumbsAdverts") %}
        {% endif %}
        
        <div class="foldColumn">
            {% render controller("LmCmsBundle:Offer:searchByCategory") %}
            {% render controller("LmCmsBundle:Advert:leftSideBarAdverts") %}
            {% render controller("LmCmsBundle:Offer:searchByCities") %}
            
            <div class="box project-advantages">
                <div class="title">
                    <div class="left-line"></div>
                    <div class="text">Korzyści</div>
                    <div class="right-line"></div>
                </div>
                <div class="text-1">związane z przystąpieniem</div>
                <div class="text-2">
                    <span>do</span> naszego Rankingu.
                </div>
                
                <a href="{{  cms_config.get('offer_create_advantages_url') | raw }}">Dowiedz się więcej</a>
            </div>
            
            <a class="newsletter-subscribe-button" href="{{ path('lm_cms_newsletter_subscribe') }}">
                <span class="info">
                    Zapisz się<br />
                    do <span>newslettera</span>
                </span>
            </a>
        </div>

        {% block content %}
            <article class="{% block article_class %}subPageContent{% endblock %}">
                {% if app.request.get('_route') != 'lm_cms_offer_main' and 
                      app.request.get('_route') != 'lm_cms_offer_show'%}
                    {% render controller("LmCmsBundle:Offer:searchForm") %}
                {% endif %}
                
                <h1 class="page_title{% block page_title_extra %}{% endblock %}">{% block page_title %}{% endblock %}</h1>
                <div class="content{% block content_extra %}{% endblock %}">
                    <div class="clear"></div>

                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash-notice" style="padding: 20px;text-align: center;border: 1px solid #007A14;margin: 10px;border-radius: 8px;color: #007A14;">
                            {{ flashMessage }}
                        </div>
                        <div class="clear"></div>
                    {% endfor %}

                    {% block content_inner %}{% endblock %}

                    <div class="clear"></div>
                    
                    <div class="addForm {% if app.request.get('_route') == 'lm_cms_offer_main' %}realizations{% endif %}">
                        <div class="tekst_1"></div>
                        <a class="button_1" href="{{ path('lm_cms_page_show', { slug: 'nasza-misja' }) }}" title="nasza misja"></a>
                        <a class="button_2" href="{{ path('lm_cms_offer_add') }}" title="dołącz co nas"></a>
                        
                        {% if app.request.get('_route') == 'lm_cms_offer_main' %}
                            <a class="resetSearch" href="{{ path('lm_cms_main_homepage') }}">
                                <span>Nie znalazłeś firmy, której szukasz? Spróbuj raz jeszcze.</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </article>
        {% endblock %}
    </div>

    <footer>
        <div class="footer_content">
            {% block footer_inner %}
                <div class="copyrightInfo">
                    <div class="copyrightConent">
                        <p>{{  cms_config.get('txt_stopka_copyrights', '&copy;copyrights, wszelkie prawa zastrzeżone<br />przez <b>Bones piece i maszyny piekarniczo-cukiernicze</b>') | raw }}</p>
                    </div>
                    
                    <div class="realisationContent">
                        <p>{{  cms_config.get('txt_stopka_realizacja', 'Realizacja: <b>Lemonade studio</b>') | raw }}</p>
                    </div>
                </div>
                
                <div class="bottomMenuAndBackToTop">
                    {% render controller("LmCmsBundle:Menu:managed", {location: 'bottom_menu1', depth: 1}) %}
                </div>
            {% endblock  %}
        </div>
    </footer>

    {% block javascripts_bottom %}
        <script type="text/javascript">
            {{ cms_config.get('javascript_wstawka', '// dowolny kod js, np. wstawka google analytics') | raw }}
        </script>
    {% endblock %}
{% endblock %}
