/* Site rules */
body {
   background: #000 url('somebg.gif');
}

/* TinyMCE specific rules */
body.mceContentBody {
   background: #FFF;
}

.mceContentBody a {
   color: red !important; /* FF requires a important here */
}