<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <p>Imię i nazwisko: {{ name }}</p>
    <p>Kontakt: {{ contact }}</p>
    <p>
        Wiadomość:
    </p>
    <p>
        {{ problem }}
    </p>
</body>
</html>
