{% block body %}
<div class="popup-clickable"></div>
<form method="post" action="{{ path('lm_cms_popupform_send') }}">
    <div class="popup-form">
        <div class="close-btn">
            <a href="#">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class="inside-container">
            <div class="color-white">
                <h3>Zadaj pytanie<br />w swojej sprawie odszkodowawczej</h3>
                <p>Skontaktujemy się z Tobą, aby doradzić jak postępować</p>
            </div>     

            {{ form_widget(form) }}

            {{ form_rest(form) }}
            <input type="submit" class="send-popup-button" value="Wyślij" />
            <p class="bleached">
                Porad prawnych udziela prawnik serwisu<br />
                <span>www.kandelarie-odszkodowania.pl</span>
            </p>
        </div>
        
    </div>
</form>
{% endblock %}
