{% extends 'LmCmsBundle::cms_layout.html.twig' %}

{% block title %}{{ page.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ page.description|default(parent()) }}{% endblock %}
{% block keywords %}{{ page.keywords|default(parent()) }}{% endblock %}

{% block content_extra %} page editor{% endblock %}

{% block page_title %}
{{ page.title }}
{% endblock %}

{% block body_class %}subPage noLandingPage{% endblock %}
{% block article_class %}subPageContent{% endblock %}

{% block header_print %}<a href="#" onclick="window.focus();window.print()" class="print">drukuj</a>{% endblock %}


{% block content_inner %}

{{ page.content|raw }}

 {#{% if page.galeria %}
 {% include 'LmCmsBundle:Galeria:show_podstrona.html.twig' with {'galeria': page.galeria} %}
 {% endif %}#}

 {% endblock %}

  {% block header_fold %}

    <div class="fold">
        <div class="foldContent">
            <h2>Wybierz </h2>
            <h1>kategorie</h1>

            {% render controller("LmCmsBundle:Menu:managed", {location: 'menu_kategorie', depth: 1}) %}

        </div>
    </div>

{% endblock %}