{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination">


{# 	{% spaceless %}#}
    {% if previous is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="page prev">poprzednia</a>
    {% endif %}

    {% if current not in range(1,2) %}
        <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}" class="page"><span>1</span></a>
        <a class="page"><span>...</span></a>       
    {% endif %}
        
    {% for page in pagesInRange %}
        {% if page in range(current-1,current+1)  %}
            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="page"><span>{{ page }}</span></a>
            {% else %}
                <a class="page active"><span>{{ page }}</span></a>
            {% endif %}
        {% endif %}
    {% endfor %}
                        
    {% if current not in range(pageCount-1,pageCount) %}
        <a class="page"><span>...</span></a>
        <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}" class="page"><span>{{ pageCount }}</span></a>       
    {% endif %}                        

    {% if next is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="page next">następna</a>

    {% endif %}

{#     {% endspaceless %}#}

</div>
{% endif %}
