{% extends 'LmCmsBundle:Article:category.html.twig' %}

{% block title %}Artykuły - {{ parent() }}{% endblock %}


{% block content %}

<!-- ARTYKUŁY !-->
<div id="artykuly">

 	{{ knp_pagination_render(articles) }}

	<h1>Artykuły</h1>


	{% for art in articles %}
	<div class="artykul horizontal">

		<p class="data">{{ art.publishDate | localizeddate('long', 'none', 'pl') }}</p>
		<p class="tytul">
			<a href="{{ path('lm_cms_article_show', {id: art.id, slug: art.slug, type: art.type}) }}">
			{{ art.title }}
			</a>
		</p>
        <p class="tresc">{{ art.description | truncate(200) }}
        	<a class="readmore" href="{{ path('lm_cms_article_show', {id: art.id, slug: art.slug, type: art.type}) }}" class="">Czytaj więcej</a>
        </p>

	</div>
	{% endfor %}

</div>

{% endblock %}