{% extends 'LmCmsBundle:Article:category.html.twig' %}

{% block title %}Wydarzenia - {{ parent() }}{% endblock %}

{% block prawa_strona2 %}

	{% render controller('LmCmsBundle:Offer:right_box') %}

{% endblock %}

{% block content %}

<!-- ARTYKUŁY !-->
		<div id="artykuly" class="lista-wydarzenia">

 			{{ knp_pagination_render(articles) }}

			<h1>Wydarzenia</h1>


			{% for art in articles %}
			<div class="artykul">
				{% if art.getWebPath() %}
            		<img src="{{ asset(art.getWebPath() | imagine_filter('wydarzenia_main') )  }}" />
            	{% endif %}
				<p class="tytul">
					<a href="{{ path('lm_cms_article_show', {id: art.id, slug: art.slug, type: art.type}) }}">
						{{ art.title }}
					</a>
				</p>
                <div id="seperator"></div>
				<p class="tresc">{{ art.description | truncate(200) }}</p>
                <p class="data">Data dodania: {{ art.publishDate | localizeddate('long', 'none', 'pl') }}</p>
                <a href="{{ path('lm_cms_article_show', {id: art.id, slug: art.slug, type: art.type}) }}" class="wszystkie wydarzenia">Czytaj więcej</a>
			</div>
			{% endfor %}

		</div>

{% endblock %}