{% extends 'LmCmsBundle::cms_layout.html.twig' %}

{% block title %}{{ article.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ article.description|default(parent()) }}{% endblock %}
{% block keywords %}{{ article.keywords|default(parent()) }}{% endblock %}

{% block content_inner %}
	<h1>{{ article.title }}</h1>
	<div class="art-date">{{ article.publishDate() | localizeddate('long', 'none', 'pl') }}</div>

 	{% if article.getWebPath %}
 	<a href="{{ asset(article.getWebPath()) }}" class="box_photo">
    	<img class="art-img" src="{{ asset( article.getWebPath() | imagine_filter('wydarzenia_main') ) }}" alt="" />
    </a>
    {% endif %}

    {{ article.content|raw }}

     {#{% if article.galeria %}
     {% include 'LmCmsBundle:Galeria:show_podstrona.html.twig' with {'galeria': article.galeria} %}
     {% endif %}#}

{% endblock %}



{% block prawa_strona2 %}
{% if article.type == 'wydarzenia' %}
	{% render controller('LmCmsBundle:Offer:right_box') %}
{% else %}
	{{ parent() }}
{% endif %}
{% endblock %}
