<div id="wydarzenia-box">

<h1>Wydarzenia</h1>


		<a href="{{ path('lm_cms_article_category', {type: 'wydarzenia'}) }}" class="wszystkie wydarzenia">Zobacz wszystkie</a>
		{% for art in wydarzenia %}
		<div class="wydarzenie">

			<p class="data">{{ art.publishDate | localizeddate('long', 'none', 'pl') }}</p>
			<p class="tytul">
				<a href="{{ path('lm_cms_article_show', {id: art.id, slug: art.slug, type: art.type }) }}">
					{{ art.title }}</a>
			</p>


			{% if art.getWebPath() %}
			<a class="aimg" href="{{ path('lm_cms_article_show', {id: art.id, slug: art.slug, type: art.type }) }}">
				<img src="{{ asset(art.getWebPath() | imagine_filter('wydarzenia_box_right')) }}" />
			</a>
			{% endif %}


			<p class="tresc">

					{{ art.description | truncate(140) }}
					<a class="readmore" href="{{ path('lm_cms_article_show', {id: art.id, slug: art.slug, type: art.type }) }}">
					Czytaj więcej</a>
					 </p>

			<div class="cb"></div>
		</div>

		{% endfor %}

</div>