@media print {
    body header {
        display:none;
    }

    .headerContent {
        display: none;
    }

    .foldColumn {
       display: none;
    }

    body.subPage .main article.subPageContent {
       width: 100%;
    }

    .bottomMenuAndBackToTop {
       display: none;
    }
    
    footer {
        display: none !important;
    }
    
    .subPage .main .offer-details.subPageContent .content .company.left .promote-wrapper,
    .subPage .main .offer-details.subPageContent .content .company.left .button.edit,
    .subPage .main .offer-details.subPageContent .content .company.left .button.delete,
    .subPage .main .offer-details.subPageContent .content .referral-form,
    .subPage .main .offer-details.subPageContent .content .similar-search-help,
    .subPage .main .offer-details.subPageContent .content .commentForm,
    .subPage .main .offer-details.subPageContent .content .addForm {
        display: none;
    }
    
    .subPage .main .offer-details.subPageContent .content .company.left .image {
        background: #fff;
    }
    
    .subPage .main .offer-details.subPageContent .content {
        border: 0;
        width: 100%;
    }
    
    .subPage .main .offer-details.subPageContent .content .location-info {
        width: 100%;
        border: 0;
        color: #000;
        background: transparent;
    }
    
    .subPage .main .offer-details.subPageContent .content .detailsComments {
        margin-top: 20px;
    }
}
