/**
* Stylish Select 0.4.9 - $ plugin to replace a select drop down box with a stylable unordered list
* http://github.com/scottdarby/Stylish-Select/
* 
* Copyright (c) 2009 Scott Darby
* 
* Requires: jQuery 1.3 or newer
* 
* Dual licensed under the MIT and GPL licenses.
*/

/**
* Hide lists on page load
---------------------------------------------------------*/

.stylish-select .SSContainerDivWrapper, .stylish-select2 .SSContainerDivWrapper2 {
	left:-9999px;
}

/*
* Red example
---------------------------------------------------------*/
.stylish-select .SSContainerDivWrapper {
	margin:0;
	padding:0;
	width:207px;
	position:absolute;
	top:46px;
	left:0;
	z-index:2;
}

.stylish-select ul.newList {
	margin:0;
	padding:0;
	list-style: none;
	color:#000;
	background:#fff;
	border:1px solid #d3d3d3;
        border-top: 0;
	overflow:auto;
        position: relative;
        left: -1px;
        width: 175px;
        -webkit-border-radius: 0px 0px 10px 10px;
        border-radius: 0px 0px 10px 10px;   
        padding: 16px;
}

.stylish-select ul.newList li {
	list-style-image: none !important;
}

.stylish-select ul.newList * {
	margin:0;
	padding:0;
}


.stylish-select ul.newList a {
	color: #000;
	text-decoration:none;
	display:block;
	padding:0;
        line-height: 20px;
        color: #404040;
        font-size: 14px;        
}

.stylish-select .newListSelected {
	width:207px;
	color:#000;
	height:46px;
	padding: 0;
	float:left;
	background:url(images/ss_bg.jpg) no-repeat;
}

.stylish-select ul.newList li a:focus {
	-moz-outline-style: none;
}

.stylish-select .selectedTxt {
	width:145px;
	overflow:hidden;
	height:20px;
	padding: 13px 46px 13px 16px;
        line-height: 20px;
        cursor: pointer;
        font-size: 14px;
        color: #404040;
}

.stylish-select .hiLite {
        font-weight: bold;
}

.stylish-select .newListHover {
	background:#ccc!important;
	color:#000!important;
	cursor:default;
}

.stylish-select .newListDisabled {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.stylish-select .newListItemDisabled {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.stylish-select .newListOptionDisabled {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}
/*
.stylish-select .newListSelHover,
.stylish-select .newListSelFocus {
	background-position:0 -22px;
	cursor:default;
}*/

.stylish-select .newListOptionTitle {
	font-weight:bold;
}

.stylish-select .newListOptionTitle ul {
	margin:0;
}

.stylish-select .newListOptionTitle li {
	font-weight:normal;
}

/*
* Red example
---------------------------------------------------------*/
.stylish-select2 .SSContainerDivWrapper2 {
	margin:0;
	padding:0;
	width:167px;
	position:absolute;
	top:24px;
	left:0;
	z-index:2;
}

.stylish-select2 ul.newList2 {
	margin:0;
	padding:0;
	list-style: none;
	color:#000;
	background:#fff;
	border:1px solid #d3d3d3;
        border-top: 0;
	overflow:auto;
        position: relative;
        left: -1px;
        width: 149px;
        -webkit-border-radius: 0px 0px 10px 10px;
        border-radius: 0px 0px 10px 10px;   
        padding: 9px;
}

.stylish-select2 ul.newList2 li {
	list-style-image: none !important;
}

.stylish-select2 ul.newList2 * {
	margin:0;
	padding:0;
}


.stylish-select2 ul.newList2 a {
	color: #000;
	text-decoration:none;
	display:block;
	padding:0;
        line-height: 20px;
        color: #404040;
        font-size: 14px;        
}

.stylish-select2 .newListSelected2 {
	width:167px;
	color:#000;
	height:22px;
	padding: 0;
	float:left;
        border: 1px solid #d3d3d3;
	background:url(images/ss2_bg.jpg) no-repeat;
}

.stylish-select2 ul.newList2 li a:focus {
	-moz-outline-style: none;
}

.stylish-select2 .selectedTxt2 {
	width:130px;
	overflow:hidden;
	height:22px;
	padding: 0 25px 0 9px;
        line-height: 22px;
        cursor: pointer;
        font-size: 12px;
        color: #323232;
        font-style: italic;
}

.stylish-select2 .hiLite2 {
        font-weight: bold;
}

.stylish-select2 .newListHover2 {
	background:#ccc!important;
	color:#000!important;
	cursor:default;
}

.stylish-select2 .newListDisabled2 {
        background:url(images/ss3_bg.jpg) no-repeat;
}

.stylish-select2 .newListDisabled2 .selectedTxt2 {
        text-align: center;
        color: #a3a3a3;
}

.stylish-select2 .newListItemDisabled2 {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.stylish-select2 .newListOptionDisabled2 {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}
/*
.stylish-select2 .newListSelHover,
.stylish-select2 .newListSelFocus {
	background-position:0 -22px;
	cursor:default;
}*/

.stylish-select2 .newListOptionTitle2 {
	font-weight:bold;
}

.stylish-select2 .newListOptionTitle2 ul {
	margin:0;
}

.stylish-select2 .newListOptionTitle2 li {
	font-weight:normal;
}