{% set menuItem = knp_menu_get('LmCmsBundle:Builder:managedMenu', [], {'location': location, 'depth' : 1}) %}
{{ knp_menu_render(menuItem,  { 'template': 'LmCmsBundle:Menu:knp_menu_kategorie.html.twig' })}}
