{% block menu_chunk %}
    {% for menuitem in menu %}
    {% set cur_lvl = 0 %}
    <li>
        
        <a href="{% if menuitem.route!='' %}{{ path( menuitem.route, menuitem.RouteParametersArray) }}{% endif %}" title="{{ menuitem.name }}">{{ menuitem.name }}</a>
        root:{{ menuitem.root}} - lft:{{ menuitem.lft}} - lvl:{{ menuitem.lvl}}
        
        
        {#
        {% if menuitem.children %}
        <ul>
            {% include 'LmCmsBundle:Menu:tree_item.html.twig' with {'menu': menuitem.getChildren} %}
        </ul>
        {% endif %}
        #}
    </li>
    {% endfor %}
{% endblock %}

