
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}
	{% if object.getWebPath %}
	<a href="{{ asset(object.getWebPath) }}">
		<img src="{{ object.getWebPath | imagine_filter('thumb_admin_small') }}" />
	</a> 

	{% endif %}
{% endblock %}
