<aside class="gallery">
    {% for item in galeria.zdjecia %}
        <a href="{{  asset(item.getWebPath() ) }}" class="photo gallery_photo">
            <img src="{{ asset(item.getWebPath() | imagine_filter('gallery') ) }}" alt="" /><div class="mask"></div>
        </a>
    {% endfor %}
 </aside>
