{% extends 'LmCmsBundle::cms_layout.html.twig' %}

{% block title %}Dodano wpis - {{ parent() }}{% endblock %}

{% block page_title %}
Dodawanie wpisu
{% endblock %}

{% block article_class %}subPageContent realisations{% endblock %}

{% block content_inner %}

<div class="thanks">


    {{ cms_config.get('ust_nowy_wpis_podziekowanie_html')|raw }}


</div>
{% endblock %}