{% extends 'LmCmsBundle::cms_layout.html.twig' %}

{% block title %}Dodawanie firmy - {{ parent() }}{% endblock %}
{% block page_title %}{% endblock %}
{% block article_class %}subPageContent contact offerAddedInfo{% endblock %}

{% block content_inner %}
    <div class="thanksHeader">Dziękujemy!</div>
    <div class="thanksMail">Aby wpis został dodany do katalogu prosimy o sprawdzenie skrzynki e-mail, którą podali Państwo w formularzu i kliknięcie w znajdujący się w otrzymanym od nas mailu link.</div>
    <div class="thanksInfo">W razie problemów i nie otrzymania maila zapraszamy do <a href="{{ path('lm_cms_main_contact') }}">kontaktu</a>.</div>
    <div class="thanksSignature">
        <div class="thanksText">Pozdrawiamy.</div>
        <div class="textLogo">kancelarie-odszkodowania<span>.pl</span></div>
    </div>
    <div class="thanksBack">
        <a href="{{ path('lm_cms_main_homepage') }}">Kliknij</a>, aby powrócić do strony głównej.
    </div>
{% endblock %}
