{% if isCommentPosted %}
    <div style="padding:20px;">
        {{ cms_config.get('ust_komentarz_informacja_o_moderacji') }}
    </div>
{% else %}
    <div id="offer_comment_loading" style="padding:20px;display:none">Wczytywanie danych...</div>

    <form id="offer_comment_form" method="post" action="{{ path('lm_cms_offer_sendComment', {slug: offer.slug}) }}">
        <div class="container">
            <div class="contLeft">
                {{ form_errors( commentForm.buy_date ) }}
                {{ form_label(commentForm.buy_date) }}
                {{ form_widget(commentForm.buy_date) }}

                {{ form_errors( commentForm.buy_object ) }}
                {{ form_label(commentForm.buy_object) }}
                {{ form_widget(commentForm.buy_object) }}
            </div>
            <div class="contRight">
                {{ form_errors( commentForm.comment ) }}
                {{ form_label(commentForm.comment) }}
                {{ form_widget(commentForm.comment) }}
            </div>
            <div class="clear"></div>
            <div class="contBottom">
                <div class="inHeader">Czy jesteś zadowolony z dokonananego zakupu/usługi?</div>
                <div class="inCheckbox ch_1">
                    {{ form_errors( commentForm.positive ) }}
                    {{ form_widget( commentForm.positive[1] ) }}
                    {{ form_label( commentForm.positive[1] ) }}
                </div>
                <div class="inCheckbox ch_2">
                    {{ form_widget( commentForm.positive[0] ) }}
                    {{ form_label( commentForm.positive[0] ) }}
                </div>
                <input type="submit" value="Wyślij"/>
            </div>
        </div>
        
        {{ form_errors(commentForm) }}
        {{ form_rest(commentForm) }}
    </form>
{% endif %}
