{% extends 'LmCmsBundle::cms_layout.html.twig' %}

{% block title %}Edycja firmy - {{ parent() }}{% endblock %}
{% block page_title %}Edycja wpisu{% endblock %}
{% block article_class %}subPageContent realisations offer-add{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/lmcms/bootstrap/bootstrap-fileupload.min.css') }}" type="text/css" media="all">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lmcms/bootstrap/bootstrap-fileupload.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content_inner %}
    <div class="intro">
        Edycja wpisu &quot;{{ offer.title }}&quot;. Uzupełnij poniższe pola:
    </div>
    
    <div class="form offer-add-form">
        <form action="{{ path('lm_cms_offer_edit', { id: offer.id }) }}" method="post" {{ form_enctype(form) }} novalidate>
            {% if not form.vars.valid %}
                <div class="alert alert-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div class="leftForm">
                <div class="imageCont norm fileupload fileupload-new" data-provides="fileupload">
                    <div class="imageForm fileupload-new fileupload-preview fileupload-exists thumbnail" >
                        {% if offer.getWebPath('image') %}
                            <a href="{{ asset(offer.getWebPath('image')) }}" >
                                <img src="{{ asset(offer.getWebPath('image') | imagine_filter('offer_small') ) }}" />
                            </a>
                        {% endif %}
                    </div>
                    <div class="imageLabel btn btn-file">
                        {{ form_errors(form._file_image) }}
                        <a><span class="fileupload-new">Wybierz obraz</span></a>
                        <a><span  class="fileupload-exists">Zmień</span></a>

                        {% if offer.getWebPath('image') %}
                            <a>{{ form_widget(form['_delete_file_image']) }} {{ form_label(form._delete_file_image) }}</a>
                        {% endif %}
                        {{ form_widget(form._file_image) }}
                    </div>
                </div>
                
                <div class="clear"></div>

                <div class="header">Opis firmy</div>
                {{ form_widget(form.content, { 'attr': {'class': 'mceEditor'} }) }}
                <div class="details">*Możesz napisać kilka słów o jej misji, historii oraz głównym zakresie działalności.</div>

                <div class="header">Oferta</div>
                {{ form_widget(form.content2, { 'attr': {'class': 'mceEditor'} }) }}
                <div class="details">*Opisz w kilku zdaniach czym zajmuje się Twoja firma, co sprzedaje lub jakiego typu usługi oferuje</div>

                {% set provinceErrorClass = form_errors(form.categories) ? 'error' : '' %}
                
                <div class="header">Branże</div>
                <label class="categoriesForm {{ provinceErrorClass }}" for="category">
                    {{ form_widget(form.categories) }}
                </label>
                
                {% if form_errors(form.categories) %}
                    <div class="error-field categories">
                        {{ form_errors(form.categories) }}
                    </div>
                {% endif %}
            </div>

            <div class="rightForm">
                {% set titleErrorClass = form_errors(form.title) ? 'error' : '' %}
                {{ form_label(form.title, label|default(null), { 'label_attr': { 'class': 'first' } }) }}
                {{ form_widget(form.title, { 'attr': { 'class': titleErrorClass } }) }}
                
                {% if form_errors(form.title) %}
                    <div class="error-field">
                        {{ form_errors(form.title) }}
                    </div>
                {% endif %}

                <div class="clear"></div>

                <div class="header2">
                    <span>Dane adresowe</span>
                </div>
                <div>
                    {% set provinceErrorClass = form_errors(form.mainAddress.province) ? 'error' : '' %}
                    {{ form_label(form.mainAddress.province) }}
                    {{ form_widget(form.mainAddress.province, { 'attr': { 'class': provinceErrorClass } }) }}
                    
                    {% if form_errors(form.mainAddress.province) %}
                        <div class="error-field">
                            {{ form_errors(form.mainAddress.province) }}
                        </div>
                    {% endif %}
                    
                    <div class="clear"></div>
                    
                    {% set cityErrorClass = form_errors(form.mainAddress.city) ? 'error' : '' %}
                    {{ form_label(form.mainAddress.city) }}
                    {{ form_widget(form.mainAddress.city, { 'attr': { 'class': cityErrorClass } }) }}
                    
                    {% if form_errors(form.mainAddress.city) %}
                        <div class="error-field">
                            {{ form_errors(form.mainAddress.city) }}
                        </div>
                    {% endif %}

                    {% set postCodeErrorClass = form_errors(form.mainAddress.postCode) ? 'error' : '' %}
                    {{ form_label(form.mainAddress.postCode) }}
                    {{ form_widget(form.mainAddress.postCode, { 'attr': { 'class': postCodeErrorClass } }) }}
                    
                    {% if form_errors(form.mainAddress.postCode) %}
                        <div class="error-field">
                            {{ form_errors(form.mainAddress.postCode) }}
                        </div>
                    {% endif %}

                    {% set streetErrorClass = form_errors(form.mainAddress.street) ? 'error' : '' %}
                    {{ form_label(form.mainAddress.street) }}
                    {{ form_widget(form.mainAddress.street, { 'attr': { 'class': streetErrorClass } }) }}
                    
                    {% if form_errors(form.mainAddress.street) %}
                        <div class="error-field">
                            {{ form_errors(form.mainAddress.street) }}
                        </div>
                    {% endif %}

                    {% set homeErrorClass = form_errors(form.home) ? 'error' : '' %}
                    {{ form_label(form.home) }}
                    {{ form_widget(form.home, { 'attr': { 'class': 'small ' ~ homeErrorClass } }) }}

                    {% set localErrorClass = form_errors(form.local) ? 'error' : '' %}
                    {{ form_label(form.local, label|default(null), { 'label_attr': { 'class': 'small' } }) }}
                    {{ form_widget(form.local, { 'attr': { 'class': 'small ' ~ localErrorClass} }) }}
                    
                    {% if form_errors(form.home) %}
                        <div class="clear"></div>
                        <div class="error-field">
                            {{ form_errors(form.home) }}
                        </div>
                    {% endif %}
                    
                    {% if form_errors(form.local) %}
                        <div class="clear"></div>
                        <div class="error-field">
                            {{ form_errors(form.local) }}
                        </div>
                    {% endif %}
                </div>

                <div class="clear"></div>

                <div class="header2">
                    <span>Dane kontaktowe</span>
                </div>
                <div>
                    {% set wwwErrorClass = form_errors(form.www) ? 'error' : '' %}
                    {{ form_label(form.www) }}
                    {{ form_widget(form.www, { 'attr': { 'class': wwwErrorClass } }) }}
                    
                    {% if form_errors(form.www) %}
                        <div class="error-field">
                            {{ form_errors(form.www) }}
                        </div>
                    {% endif %}
                    
                    {% set facebookUrlErrorClass = form_errors(form.facebookUrl) ? 'error' : '' %}
                    {{ form_label(form.facebookUrl) }}
                    {{ form_widget(form.facebookUrl, { 'attr': { 'class': facebookUrlErrorClass } }) }}
                    
                    {% if form_errors(form.facebookUrl) %}
                        <div class="error-field">
                            {{ form_errors(form.facebookUrl) }}
                        </div>
                    {% endif %}

                    {% set emailErrorClass = form_errors(form.mainAddress.email) ? 'error' : '' %}
                    {{ form_label(form.mainAddress.email) }}
                    {{ form_widget(form.mainAddress.email, { 'attr': { 'class': emailErrorClass } }) }}
                    
                    {% if form_errors(form.mainAddress.email) %}
                        <div class="error-field">
                            {{ form_errors(form.mainAddress.email) }}
                        </div>
                    {% endif %}

                    <span class="addAnother">+ dodaj kolejny</span>
                    <div class="clear"></div>
                    <label for="in_10" class="hidden"></label>

                    {{ form_errors(form.mainAddress.email2) }}
                    {{ form_widget(form.mainAddress.email2, { 'attr': {'class': 'hidden'} }) }}

                    {% set phoneErrorClass = form_errors(form.mainAddress.phone) ? 'error' : '' %}
                    {{ form_label(form.mainAddress.phone) }}
                    {{ form_widget(form.mainAddress.phone, { 'attr': { 'class': phoneErrorClass } }) }}
                    
                    {% if form_errors(form.mainAddress.phone) %}
                        <div class="error-field">
                            {{ form_errors(form.mainAddress.phone) }}
                        </div>
                    {% endif %}

                    <span class="addAnother">+ dodaj kolejny</span>
                    <div class="clear"></div>
                    <label for="in_12" class="hidden"></label>

                    {{ form_errors(form.mainAddress.phone2) }}
                    {{ form_widget(form.mainAddress.phone2, { 'attr': {'class': 'hidden'} }) }}
                </div>

                <div class="clear"></div>

                <div class="header">
                    <span>Słowa kluczowe</span>
                    <div class="boxInfo" data-comment="Podaj kilka słów kluczowych, z którymi utożsamiana powinna być Twoja firma. Oddziel je przecinkami"></div>
                </div>
                <div class="clear"></div>

                {{ form_errors(form.keywords) }}
                <label class="keywordForm" for="keywords">
                    {{ form_widget(form.keywords) }}
                </label>
            </div>

            <div class="clear"></div>

            <div class="bottomForm">
                {{ form_widget(form.rules) }}
                <label for="rules">Przeczytałem/am i akceptuję <a href="{{ path('lm_cms_page_show', { 'slug': 'regulamin' }) }}" target="_blank" title="regulamin">regulamin</a>.</label>
                
                {% if form_errors(form.rules) %}
                    <div class="clear"></div>
                    <div class="error-field rules">
                        {{ form_errors(form.rules) }}
                    </div>
                {% endif %}
                
                <input type="submit" value="Wyślij"/>
                <a id="cancel" href="{{ path('lm_cms_main_homepage') }}">Anuluj</a>
            </div>

            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}