{% extends 'LmCmsBundle::cms_layout.html.twig' %}

{% block title %}Kancelarie odszkodowacze: {{ category ? category.name : city }}{% endblock %}
{% block description %} {{ category ? category.metadescription : '' }}{% endblock %}
{% block page_title %}Firmy, których szukasz{{ (keyword ? ': "' ~ keyword ~ '"'  : (category ? ' z kategorii "' ~ category|lower ~ '"' : ' z miasta ' ~ city)) }}. Zobacz, co oferują dla CIEBIE.{% endblock %}
{% block article_class %}subPageContent realisations offer-main{% endblock %}

{% block content_inner %}
    {% if category %}
        <div class="category-info">
            {% if category.getWebPath() %}
                <img src="{{ asset(category.getWebPath() | imagine_filter('categories_main') ) }}" />
            {% endif %}
                
            <div class="name">{{ category.name }}</div>
            <div class="small-description">{{ category.description }}</div>
        </div>
    {% endif %}

    <p class="header">
        {{ cms_config.get('txt_oferta_listowanie_wprowadzenie', 'Wyniki wyszukiwania dla: ') | raw }}
        
        {% for item in readableSearchParts %}
            <span>{{ item.value }}</span>{% if loop.last != true %}, {% endif %}
        {% endfor %}
    </p>

    {% if offersList | length %}
        <div id="offers_map" 
             data-offers="{{ offersJson }}" 
             data-scrollOnMarkerClick="true"
             data-radius="{{ searchRadius }}"
             data-city="{{ city }}"></div>
        
        {% if category and category.advert and category.advert.isActive %}
            <a href="{{ category.advert.url }}" title="{{ category.advert.title }}" class="trevda searchResultsWithCategoryUnderMap" target="_blank">
                {% if category.advert.getWebPath() %}
                    <img src="{{ asset(category.advert.getWebPath() | imagine_filter_extended('trevda_search_results_with_category_under_map', false, ['gif']) ) }}" />
                {% endif %}
            </a>
        {% endif %}
             
        <div class="realisationsGallery" >
            {% include 'LmCmsBundle:Offer:offersList.html.twig' with { 'offers': offersList } %}
        </div>
    {% endif %}
        
    <div class="clear"></div>
                            
    <div class="afterRealisation">
        <div class="addInfo">*Jeśli nie znalazłeś poszukiwanej firmy <a href="/kontakt" title="zaproponuj nową firmę">wskaż ją</a>, a my umieścimy ją w serwisie.</div>
        
        {% if offersList | length %}
            {{ knp_pagination_render(offersList) }}
        {% endif %}
    </div>
{% endblock %}
