{% for item in offers %}
    <div id="timeout-setting" data-popup-timeout="{{ cms_config.get('popup-timeout-listing') }}000">
        <div class="realisationItem" id="offer-{{ item.id }}">
            <div class="selectedFromMapOverlay"></div>
            <div class="photo">
                {% if item.getWebPath() %}
                    <a href="{{ path('lm_cms_offer_show', { id: item.id, slug: item.slug }) }}" style="background: url({{ asset( item.getWebPath() | imagine_filter('offer_list') ) }}) no-repeat center center">
                        <div class="addon"></div>
                        <div class="mask"></div>
                    </a>
                {% else %}    
                    <div class="no-avatar">
                        <span>Miejsce na Twój logotyp</span>
                    </div>
                {% endif %}
            </div>
            <div class="info">
                <a href="{{ path('lm_cms_offer_show', { id: item.id, slug: item.slug }) }}" class="name">{{ item.title }}</a>

                {% if item.mainAddress is not null %}
                <div class="address">
                    <span>{{ item.mainAddress.city }}</span>, {{ item.mainAddress.street }}
                </div>
                {% endif %}
            </div>
            <div class="trade">
                <h3>Rodzaje szkód:</h3>{{ item.getCategoriesAsString() | truncate(110, '...') }}
            </div>
            <div class="num">{{ loop.index }}</div>

            {% if item.isPromoted() %}
                <div class="star"></div>
            {% endif %}
        </div>
    </div>
{% endfor %}

