<form action="{{ path('lm_cms_offer_main') }}" method="get" {{ form_enctype(form) }} novalidate>
    <div class="row">       
        <div class="field city">
            {{ form_label(form.city) }}
            {{ form_widget(form.city, { 'attr': {'placeholder': 'Wpisz nazwę miasta'} }) }}
        </div>

        <div class="field category">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
        </div> 
    </div>

    <div class="row">
        <div class="field radius">
            {{ form_label(form.radius) }}
            {{ form_widget(form.radius) }}
        </div>

        <div class="field keyword">
            {{ form_label(form.keyword) }}
            {{ form_widget(form.keyword) }}
        </div>   
    </div>

    <div class="row">
        <div class="field is-promoted">
            {{ form_widget(form.onlyPromoted) }}
            {{ form_label(form.onlyPromoted) }}
        </div>
        <input type="submit" value="Szukaj"/>
    </div>

    {{ form_rest(form) }}
</form>
