<div class="box most-popular-categories">
    <h2>Popularne szkody</h2>
    <div class="clear"></div>

    {% for category in categories %}
        <a href="{{ path('lm_cms_offer_main_showcase', { slug: category[0].slug }) }}" title="{{ category[0].name }}" class="item">
            {{ category[0].name }}
            <span>Ilość wpisów: {{ category['offersCount'] }}</span>
        </a>
    {% endfor %}
</div>
