<div class="box sizer">
    <h2>Szukaj w mieście</h2>
    <div class="clear"></div>

    {% for city in cities %}
        {% set sizeClass = 'size_5' %}
        
        {% if city.originalPosition <= 5 %}
            {% set sizeClass = 'size_' ~ city.originalPosition %}
        {% endif %}
    
        <a class="item {{ sizeClass }}" href="{{ path('lm_cms_offer_main_showcase', { slug: city.city }) }}">
            {{ city.city }}
        </a>
    {% endfor %}
</div>
