<form method="post" action="{{ path('lm_cms_offer_share', {slug: offer.slug}) }}">
    <div class="form-title">Wyślij wizytówkę na swój adres e-mail lub poleć znajomym</div>
    
    {{ form_errors(form.email) }}
    {{ form_widget(form.email, { attr: { placeholder: 'Wpisz adres e-mail' } }) }}
    
    <input type="submit" value="Wyślij"/>
    {{ form_rest(form) }}
</form>
