{% extends 'LmCmsBundle::cms_layout.html.twig' %}

{% block title %}
{#    {{ offer.title }} - {{ parent() }}#}
    
    {% if offer.seoTitle is empty %}
        {{ offer.title }} - Ranking Kancelarii Odszkodowawczych
    {% else %}
        {{ offer.seoTitle }} - Ranking Kancelarii Odszkodowawczych
    {% endif %}
{% endblock %}

{% block description %}{{ offer.description|default(parent()) }}{% endblock %}
{% block keywords %}{{ offer.keywords|default(parent()) }}{% endblock %}
{% block article_class %}subPageContent offer-details{% endblock %}
{% block page_title %}{{ offer.title }}{% endblock %}

{% block content_inner %}
    
    {% if category %}
        {{ offer.seoTitle }}
        <div class="category-info">
            {% if category.getWebPath() %}
                <img src="{{ asset(category.getWebPath() | imagine_filter('categories_main') ) }}" />
            {% endif %}
                
            <div class="name">{{ category.name }}</div>
        </div>
    {% endif %}
    
    {% if offer.categories | length > 0 or offer.mainAddress.city %}
        <div class="location-info">
            {% if offer.categories | length > 0 %}
                <span>Ta firma obsługuje odszkodowania: </span>
                {% for cat in offer.categories %}
                    <a href="{{ path('lm_cms_offer_main', { category: cat.id }) }}">{{ cat.name }}</a>,
                {% endfor %}
            {% endif %}
            
            {% if offer.mainAddress.city %}
                <span>
                    {% if offer.categories | length == 0 %}
                        To firma&nbsp;
                    {% endif %}
                    z miasta
                </span>
                <a href="{{ path('lm_cms_offer_main', { city: offer.mainAddress.city }) }}">{{ offer.mainAddress.city }}</a>
            {% endif %}
        </div>
    {% endif %}
    
    <div class="company left">
        {% if offer.getWebPath() %}
            <div class="image">
                <div class="center">
                    <a href="{{ asset(offer.getWebPath()) }}" class="gallery_photo">
                        <img src="{{ asset(offer.getWebPath() | imagine_filter('offer_details') ) }}" alt="" /></a>
                    </a>
                </div>
            </div>
        {% endif %}
        
        <div class="promote-wrapper">
            <a href="{{ path('lm_cms_offer_promote', { slug: offer.slug }) }}" class="button promote">
                <span>Promuj firmę</span>
            </a>
            <div class="info-tooltip" data-comment="Wskaż tą Kancelarię, aby inni też z niej korzystali. Pamiętaj, aby powtórzyć promowanie za 14 dni."></div>
        </div>
        
        {% if offer.mainAddress.email %}
            <div class="request-edit-wrapper">
                <a href="{{ path('lm_cms_offer_editRequest', { slug: offer.slug }) }}" class="button edit">
                    <span>Modyfikuj dane</span>
                </a>
                <div class="info-tooltip" data-comment="Link do formularza modyfikacji danych Kancelarii zostanie przesłany na adres e-mail firmy."></div>
            </div> 
        {% endif %}
        
        <div class="request-delete-wrapper">
            <a href="{{ path('lm_cms_offer_deleteRequest', { slug: offer.slug }) }}" class="button delete">
                <span>Usuń wpis</span>
            </a>
            <div class="info-tooltip" data-comment="Kliknij, aby usunąć wpis. Autoryzacja odbywa się za pośrednictwem adresu mailowego."></div>
        </div>
    </div>

    <div class="company right" id="show-offer-timeout" data-popup-timeout-show="{{ cms_config.get('popup-timeout-show') }}000">
        {% set likeBox = cms_config.get('offer_details_facebook_likebox') %}
        {% if likeBox %}
            <div class="like">{{ likeBox | raw }}</div>
        {% endif %}
        
        <div class="highlight">
            <div class="name">{{ offer.title }}</div>

            <div class="contact-info">
                {% if offer.mainAddress and (offer.mainAddress.street or offer.mainAddress.postCode or offer.mainAddress.city) %}
                    <span class="address">

                    {% if offer.mainAddress.street %}
                        {{ offer.mainAddress.street }}{{ ', ' }}
                    {% endif %}

                    {% if offer.mainAddress.postCode %}
                        {{ offer.mainAddress.postCode }}{{ ' ' }}
                    {% endif %}

                    {% if offer.mainAddress.city %}
                        {{ offer.mainAddress.city }}
                    {% endif %}

                    </span>
                    <br />
                {% endif %}

            {% if offer.expirationOfPromotionForVisibleProperties is null or offer.expirationOfPromotionForVisibleProperties|date('Y-m-d H:m:s') >= today|date('Y-m-d H:m:s') %}
                {% if offer.mainAddress.phone and constant('Lm\\CmsBundle\\Models\\OfferPropertyType::PHONE') in visibleProperties %}
                    tel: {{ offer.mainAddress.phone }}<br>
                {% endif %}

                {% if offer.mainAddress.phone2 and constant('Lm\\CmsBundle\\Models\\OfferPropertyType::ADDITIONAL_PHONE') in visibleProperties %}
                    dodatkowy tel: {{ offer.mainAddress.phone2 }}<br>
                {% endif %}

                {% if offer.www and constant('Lm\\CmsBundle\\Models\\OfferPropertyType::WEBSITE_URL') in visibleProperties %}
                    www: <a class="website" href="{{ offer.getWwwWithHtmlPrefix() }}" target="_blank">{{ offer.getWwwWithHtmlPrefix() | slice(7) | truncate(22) }}</a><br />
                {% endif %}

                {% if offer.mainAddress.email and constant('Lm\\CmsBundle\\Models\\OfferPropertyType::EMAIL') in visibleProperties %}  
                    e-mail: <a class="email" href="mailto:{{ offer.mainAddress.email }}">{{ offer.mainAddress.email }}</a><br />
                {% endif %}
                
                {% if constant('Lm\\CmsBundle\\Models\\OfferPropertyType::FACEBOOK_URL') in visibleProperties %}
                    {% if offer.facebookUrl %}
                        <a class="facebook" href="{{ offer.facebookUrl }}" target="_blank">{{ offer.facebookUrl }}</a>
                    {% else %}
                        <div class="facebook">Jeśli masz fan-page na Facebooku, dodaj go.</div>
                    {% endif %}
                {% endif %}
                
            {% endif %}
            
                {% if offer.additionalAddresses is defined and offer.additionalAddresses | length > 0 and offer.expirationOfPromotionForAdditionalAddresses|date('Y-m-d H:m:s') >= today|date('Y-m-d H:m:s') or offer.expirationOfPromotionForAdditionalAddresses is null %}
                    <div class="desc-title additional-addresses-title">Punkty obsługi</div>
                    <ul class="additional-addresses">
                        {% for address in offer.additionalAddresses %}
                        <li>
                            {% if address.street or address.postCode or address.city %}
                                <span class="address">
                                    {% if address.city %}
                                        {{ address.city }}
                                    {% endif %}
                                    
                                    {% if address.street or address.postCode %}
                                        <br />
                                    {% endif %}
                                    
                                    {% if address.street %}
                                        {{ address.street }}{{ ', ' }}
                                    {% endif %}

                                    {% if address.postCode %}
                                        {{ address.postCode }}
                                    {% endif %}
                                </span>
                                <br/>

                                {% if address.phone and constant('Lm\\CmsBundle\\Models\\OfferPropertyType::PHONE') in visibleProperties %}
                                    tel: {{ address.phone }}<br/>
                                {% endif %}

                                {% if address.email and constant('Lm\\CmsBundle\\Models\\OfferPropertyType::EMAIL') in visibleProperties %}  
                                    e-mail: <a class="email" href="mailto:{{ address.email }}">{{ address.email }}</a>
                                {% endif %}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
            </div>

            
            <div class="data-info">
                Jeśli chcesz dodać więcej punktów usługowych Twojej kancelarii 
                skontaktuj się z administratorem serwisu <a href="mailto:{{ cms_config.get('formularz_wysylka_email') }}">{{ cms_config.get('formularz_wysylka_email') }}</a>.
            </div>
        </div>
        
        <div class="clear"></div>
        <div class="line"></div>
        
        {% if offer.content %}
            <div class="desc-title description-title">Opis firmy</div>
            <div class="description editor">{{ offer.content | raw }}</div>
        {% endif %}
            
        {% if offer.content2 %}
            <div class="desc-title description-title">Oferta</div>
            <div class="description editor">{{ offer.content2 | raw }}</div>
        {% endif %}
            
        {% if offer.keywords %}
            <div class="desc-title keywords-title">Słowa kluczowe</div>
            <div class="description editor">{{ offer.keywords }}</div>
        {% endif %}
        
        {% if offer.createdUsingImport == 1 %}
            <div class="data-info">
                Powyższe dane zostały pozyskane ze źródeł publicznych. W przypadku błędów zachęcamy do ich modyfikacji lub usunięcia.
            </div>
        {% endif %}
            
        <div class="referral-form">
            {% include 'LmCmsBundle:Offer:shareForm.html.twig' with { 'form': shareForm } %}
            
            <a href="" class="print">Drukuj stronę</a>
        </div>
    </div>
            
    <div class="clear"></div>
    
    {% if category or offer.mainAddress.city %}
        <div class="similar-search-help">
            <span>Czy znalazłeś usługę lub towar jakiego szukasz?</span>
            
            {% if category %}
                <a href="{{ path('lm_cms_offer_main', { category: category.id }) }}" class="searchInThisCategory">
                    Szukaj dalej w tej branży
                </a>
            {% endif %}
                
            {% if offer.mainAddress.city %}
                <a href="{{ path('lm_cms_offer_main', { city: offer.mainAddress.city }) }}" class="searchInThisCity">
                    Szukaj dalej w tym mieście
                </a>
            {% endif %}
        </div>
    {% endif %}
           
    <div class="map" data-offers="{{ offersJson }}"></div>
    
    <div class="commentForm">
        <div class="formHeader">Wyraź swoją opinię o oglądanej kancelarii</div>

        <div id="form_content" class="formContent">
          {% include 'LmCmsBundle:Offer:comment_form.html.twig' %}
        </div>

        <div class="formShower"></div>
    </div>
    
    <div class="detailsComments">
        {% for comment in offer.comments %}
            {% if comment.approved == 1 %}
                <div class="{% if comment.positive %}detailsPositive{%else%}detailsNegative{%endif%}">
                    <div class="comText">
                        {{ comment.comment }}
                    </div>
                    <div class="comDate">Dodano: {{ comment.created | date('d.m.Y') }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
