
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
	{% if object.getWebPath %}
	<a href="{{ asset(object.getWebPath) }}">{{ object.getFile }}</a>
	{% endif %}
{% endblock %}

