{% if adverts | length %}
    <div class="trevda homepageTopUnderBreadcrumbs">
        {% for advert in adverts %}
            <a href="{{ advert.url }}" title="{{ advert.title }}" class="item" target="_blank">
                {% if advert.getWebPath() %}
                    <img src="{{ asset(advert.getWebPath() | imagine_filter_extended('trevda_homepage_top_under_breadcrumbs', false, ['gif']) ) }}" />
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endif %}
