{% if adverts | length %}
    <div class="box trevda">
        {% for advert in adverts %}
            <a href="{{ advert.url }}" title="{{ advert.title }}" class="item" target="_blank">
                {% if advert.getWebPath() %}
                    <img src="{{ asset(advert.getWebPath() | imagine_filter_extended('trevda_side_box', false, ['gif']) ) }}" />
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endif %}
