{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form_fieldset %}

<fieldset>
    <legend>Główne informacje</legend>
    <div class="sonata-ba-collapsed-fields">
        {{ form_row(form['email']) }}
        {{ form_row(form['name']) }}
        {{ form_row(form['isActive']) }}
    </div>
</fieldset>

{% endblock %}
