{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/lmcms/js/jcrop/css/jquery.Jcrop.css')  }}" type="text/css" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}

     <script type="text/javascript">
		var edytor_css  = '{{ asset('bundles/lmcms/css/editor.css') }}';
		var edytor_css2  = '{{ asset('bundles/lmcms/ckeditor/contents.css') }}';
		var edytor_browse_url = '{{ path('lm_cms_main_browse') }}';
	</script>

	<script src="{{ asset('bundles/lmcms/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/lmcms/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/lmcms/js/wysiwyg2.js') }}" type="text/javascript"></script>

{% endblock %}



{% block form_fieldset %}

	{{ form_row(form['nazwa'])}}
	{{ form_row(form['opis'])}}


		<div class="input">
		{% if object.getWebPath() %}

		 <a href="{{ asset(object.getWebPathCrop())  }}">
				<img src="{{ asset(object.getWebPathCrop() | imagine_filter('thumb_admin') ) }}" />
		</a>


		{% else %}
		{% endif %}
		</div>

	{{ form_row(form['_file'])}}

 {% endblock %}