{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{%  block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var edytor_css  = '{{ asset('bundles/lmcms/css/editor.css') }}';
        var edytor_css2  = '{{ asset('bundles/lmcms/ckeditor/contents.css') }}';
        var edytor_browse_url = '{{ path('lm_cms_main_browse') }}';
    </script>

    <script src="{{ asset('bundles/lmcms/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/wysiwyg2.js') }}" type="text/javascript"></script>
{%  endblock %}

{% block form_fieldset %}
    <fieldset>
        <legend>Główne informacje</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['title'])}}
            {{ form_row(form['content'])}}
            {{ form_row(form['content2'])}}
            {{ form_row(form['categories'])}}
            {{ form_row(form['active'])}}
        </div>
    </fieldset>
    
    <fieldset class="offer-main-address">
        <legend>Główny adres</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['mainAddress'])}}
        </div>
    </fieldset>
        
    <fieldset class="offer-additional-addresses">
        <legend>Dodatkowe adresy</legend>
        
        <div class="control-group">
            <label class="control-label">Data utworzenia</label>
            <div class="controls">{{ object.created | localizeddate('long', 'medium', 'pl_PL') }}</div>
        </div>
        
        {{ form_row(form['expirationOfPromotionForAdditionalAddresses'])}}
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['additionalAddresses'])}}
        </div>
    </fieldset>

    <fieldset>
        <legend>Opcje dodatkowe</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['www'])}}
            {{ form_row(form['facebookUrl'])}}
            
            <div class="control-group">
                <label class="control-label">Data utworzenia</label>
                <div class="controls">{{ object.created | localizeddate('long', 'medium', 'pl_PL') }}</div>
            </div>
            
            {{ form_row(form['expirationOfPromotionForVisibleProperties'])}}
            {{ form_row(form['visibleProperties'])}}
            
            <div class="control-group">
                <label></label>
                <div class="controls">
                    {% if  object.getWebPath() %}
                        <a href="{{ asset(object.getWebPath())  }}">
                            <img src="{{ asset(object.getWebPath() | imagine_filter('admin_med') ) }}" />
                        </a>
                    {% else %}
                    {% endif %}
                </div>
            </div>

            {{ form_row(form['_file_image'])}}
        </div>
    </fieldset>

    <fieldset>
        <legend>SEO</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['automaticSeo'])}}
            {{ form_row(form['slug'])}}
            {{ form_row(form['keywords'])}}
            {{ form_row(form['seoTitle'])}}
            {{ form_row(form['description'])}}
        </div>
    </fieldset>
{% endblock %}
