<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
{% block body %}
    {{ content | raw }}
{% endblock %}

{% if subscriptionDeactivationUrl is defined %}
    <div style="margin-top: 20px; height: 1px; width: 100%; background-color: #7b7b7b;"></div>
    <div style="margin-top: 10px;">
        Jeżeli nie chcesz już otrzymywać newslettera, możesz go dezaktywować klikając <a href="{{ subscriptionDeactivationUrl }}">w ten link</a>.
    </div>
{% endif %}
</body>
</html>
