
{% block a2lix_translations_widget %}
    {% set locales = form.vars.locales %}
    {% if fields is defined %}
       {% set locales = form.vars.default_locale|merge(locales) %}
    {% endif %}

	<br />
    <div class="clear">
        <ul class="nav nav-tabs">
            {% for locale in locales %}
                <li class="{% if loop.first %}active{% endif %}"><a href="#{{ form.vars.id ~ '_' ~ locale }}" data-toggle="tab">{{ locale|upper }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for locale in locales %}
            <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ form.vars.id ~ '_' ~locale }}">
                {# Natives fields for default locale #}
                {% if (fields is defined) and (form.vars.default_locale[0] == locale) %}
                    {% for field in fields %}
                        {{ form_row(field) }}
                    {% endfor %}

                {# Translations fields #}
                {% else %}
                    {% for translationsLocale in form if (translationsLocale.vars.name == locale) %}

                        {{ form_widget(translationsLocale) }}
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{# personalization example : #}
{% block a2lix_translationsLocale_widget3 %}
    {% for input in form %}
    aa
        {{ form_label(input) }}
        {{ form_widget(input) }}
    {% endfor %}
{% endblock %}
