body {
  background: url("images/body_bg.jpg") no-repeat top center;
  margin: 0 auto;
  min-height: 440px;
  overflow-x: hidden;
  position: relative;
}
.landingPage .fold {
  background: url("images/fold_lp_bg.png") no-repeat;
}
a {
  text-decoration: none;
  color: #828589;
}
ul,
li,
h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}
.clear {
  clear: both;
}
section.headerContent {
  position: relative;
  width: 980px;
  margin: 0 auto;
  z-index: 1;
}
.topBackground {
  width: 100%;
  height: 178px;
  position: absolute;
  z-index: 0;
  background: url("images/bg_png.png") no-repeat top center;
}
article p,
article div {
  font: 400 12px 'Arial';
  color: #3c3c3c;
  line-height: 22px;
}
article p.title,
article div.title {
  font-size: 16px !important;
  font-weight: bold;
  color: #1d6cd6;
  margin: 0 0 6px 0;
}
article p.subTitle,
article div.subTitle {
  font-size: 17px;
}
article p.bold,
article div.bold,
article p b,
article div b {
  font-weight: bold;
}
article p.highlight,
article div.highlight {
  font-weight: bold;
  color: #d75e15;
}
article p.quote,
article div.quote {
  color: #522a0b;
  background-color: #fbefe7;
  padding: 30px;
}
article ul {
  list-style: none;
  padding: 0;
  margin: 0 23px;
}
article ul li {
  padding: 0;
  margin: 0;
  font-weight: bold;
  background: url("images/dot.jpg") no-repeat left center;
}
header {
  height: 511px;
}
header .fold {
  overflow: hidden;
  position: absolute;
  left: 365px;
  top: 0;
  display: block;
  width: 270px;
  height: 512px;
  background: url("images/fold_bg.png") no-repeat;
}
header .fold .foldText {
  color: #fff;
  font: 26px 'Arial';
  line-height: 28px;
  margin: 151px 39px 0 39px;
  text-transform: uppercase;
}
header .fold a.nav {
  background: url("images/fold_nav_arrows.png") no-repeat;
  height: 31px;
  width: 16px;
  display: inline-block;
  float: left;
  margin-top: 35px;
}
header .fold a.nav.next {
  background-position: -175px 0;
  float: right;
  position: absolute;
  left: 217px;
}
header .fold a.nav.prev {
  background-position: 0 0;
}
header .fold .whatWeDoBox {
  margin: 41px;
  margin-left: 35px;
  width: 1200px;
  height: 207px;
  overflow: hidden;
}
header .fold .whatWeDoBox .whatWeDoItems {
  position: relative;
  left: 0px;
}
header .fold .whatWeDoBox .whatWeDoItem {
  height: 30px;
  width: 160px;
  float: left;
  margin-right: 90px;
  padding-top: 130px;
  text-align: center;
  font: bold 18px 'Arial';
  line-height: 20px;
  text-transform: uppercase;
  color: #522a0b;
  -webkit-text-shadow: -1px -1px 0px #eb9831;
  text-shadow: -1px -1px 0px #eb9831;
}
header .fold .whatWeDoBox .whatWeDoItem:first-line {
  font-weight: bold;
  font-size: 23px;
}
header .fold .whatWeDoBox .whatWeDoItem.service {
  background: url("images/fold_item_service.png") top center no-repeat;
}
header .fold .whatWeDoBox .whatWeDoItem.sale {
  background: url("images/fold_item_sale.png") top center no-repeat;
}
header .fold .whatWeDoBox .whatWeDoItem.equipment {
  background: url("images/fold_item_equipment.png") top center no-repeat;
}
header .fold .whatWeDoBox .whatWeDoItem.repair {
  background: url("images/fold_item_repair.png") top center no-repeat;
}
header .top {
  height: 214px;
  overflow: hidden;
}
header .top .logo {
  width: 980px;
  height: 158px;
  overflow: hidden;
  clear: both;
}
header .top .logo a {
  background: url("images/logo.png") no-repeat;
  display: block;
  outline: none;
  margin: 55px 0 0 5px;
  width: 283px;
  height: 65px;
  float: left;
}
header .top .menu nav {
  float: right;
  height: 36px;
  overflow: hidden;
  margin-right: 5px;
  -webkit-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px;
}
header .top .menu nav a {
  color: #555555;
  font: bold 12px 'Arial';
  height: 32px;
  float: left;
  padding: 0;
  margin-top: 4px;
  line-height: 32px;
  width: 100px;
  text-align: center;
  background: url("images/bg_menu_top.jpg") repeat-x;
}
header .top .menu nav a:hover,
header .top .menu nav a.current,
header .top .menu nav a.active {
  margin: 0;
  color: #fff;
  background: #c9ab84;
  border-top: solid 4px #5a390e;
}
header .top .menu nav a.main-menu {
  background: #383838 url("images/menu-home-ico.png") no-repeat 13px 9px;
  -webkit-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
  width: 37px;
  height: 32px;
  border: none;
  margin-top: 4px;
}
header .bottom {
  margin-top: 50px;
  overflow: hidden;
}
header .bottom .leftSide {
  float: left;
  width: 300px;
}
header .bottom .leftSide h1 {
  font: 400 53px 'Arial';
  color: #fff;
  line-height: 47px;
  text-transform: uppercase;
}
header .bottom .leftSide h2 {
  font: 400 15px 'Arial';
  color: #919191;
  text-transform: uppercase;
}
header .bottom .leftSide p.details {
  font: bold 12px 'Arial';
  margin-top: 65px;
  color: #fff;
  background: url("images/lp_arrow.png") no-repeat 0 bottom;
  padding-bottom: 42px;
}
header .bottom .leftSide p.details b {
  font: bold 13px 'Arial';
}
header .bottom .leftSide p.details span.highlight {
  color: #f0962b;
}
header .bottom .rightSide {
  float: right;
  width: 320px;
}
header .bottom .rightSide h1 {
  font: 31px 'Arial';
  color: #fff;
  line-height: 37px;
  text-transform: uppercase;
}
header .bottom .rightSide h2 {
  font: 20px 'Arial';
  color: #fff;
  text-transform: uppercase;
}
header .bottom .rightSide span.highlight {
  color: #e47c29;
}
header .bottom .rightSide .doubleLine {
  height: 11px;
  border: 1px solid #2a2a2a;
  border-left: none;
  border-right: none;
  margin: 40px 0;
}
header .bottom .rightSide span.producent {
  color: #fff;
  font: bold 13px 'Arial';
  margin-right: 8px;
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
  float: left;
  letter-spacing: -1px;
}
header .bottom .rightSide .contact h1 {
  font: 31px 'Arial';
  color: #fff;
  margin-bottom: 30px;
}
header .bottom .rightSide .contact span.phone {
  display: inline-block;
  width: 77px;
  height: 29px;
  color: #fff;
  padding: 6px 0 0 30px;
  font: 400 14px 'Arial';
  background: url("images/lp_contact_phone.png") no-repeat;
  float: left;
  margin-right: 2px;
}
header .bottom .rightSide .contact a.mail {
  display: inline-block;
  width: 136px;
  height: 29px;
  color: #ec8724;
  padding: 6px 0 0 30px;
  font: 400 14px 'Arial';
  background: url("images/lp_contact_mail.png") no-repeat;
}
.main {
  width: 980px;
  margin: 0 auto;
  margin-top: 16px;
  overflow: hidden;
}
.main aside.leftColumn {
  width: 250px;
  float: left;
}
.main aside.leftColumn .photo {
  width: 225px;
  height: 265px;
}
.main aside.leftColumn .photo img {
  width: 100%;
  height: 100%;
}
.main aside.leftColumn .photoBorder {
  background: url("images/lp_photo_border.png") no-repeat;
  width: 225px;
  height: 5px;
  margin-top: 30px;
}
.main article.mainContent {
  width: 710px;
  float: right;
}
.main .search-box {
  position: relative;
  overflow: hidden;
  border: 0;
  border-radius: 0;
  background: none;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  clear: both;
  margin-bottom: 15px;
  padding: 0 0 22px 23px;
  background-color: #825b28;
}
.main .search-box form {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  width: 100%;
}
.main .search-box input[type=submit] {
  height: 32px;
  background: #c9ab84 url("images/search-offer-button-ico.png") no-repeat 34px 8px;
  float: right;
  outline: none;
  margin-right: 27px;
  border: 0;
  border-bottom: solid 2px #5a390e;
  padding: 0 38px 0 59px;
  color: #fff;
  font-size: 15px;
  line-height: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #565656;
}
.main .search-box input[type=text] {
  width: 149px;
  height: 22px;
  padding: 0 9px;
  margin: 0;
  float: left;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  -moz-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  outline: none;
  color: #606060;
  font-size: 12px;
}
.main .search-box label {
  float: left;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  margin: 0;
  text-shadow: 1px 1px 1px #565656;
}
.main .search-box .row {
  padding-top: 23px;
  overflow: hidden;
}
.main .search-box .field {
  float: left;
}
.main .search-box .city label,
.main .search-box .category label {
  line-height: 29px;
}
.main .search-box .radius label,
.main .search-box .keyword label {
  font-size: 12px;
  line-height: 24px;
}
.main .search-box .city label {
  width: 51px;
}
.main .search-box .city input {
  width: 207px;
  height: 27px;
}
.main .search-box .category {
  margin-left: 28px;
}
.main .search-box .category label {
  width: 100px;
}
.main .search-box .radius label {
  width: 142px;
}
.main .search-box .keyword {
  margin-left: 28px;
}
.main .search-box .keyword label {
  width: 185px;
}
.main .search-box .keyword input {
  width: 179px;
}
.main .search-box .is-promoted label {
  margin: 8px 0 0 6px;
  line-height: 16px;
  font-size: 11px;
}
.main .search-box .is-promoted input {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  float: left;
}
footer {
  height: 71px;
  width: 100%;
  margin: 60px 0 0 0;
  overflow: hidden;
  background-color: #282828;
}
footer .footer_content {
  height: 71px;
  width: 980px;
  overflow: hidden;
  margin: 0 auto;
}
footer .footer_content .copyrightInfo {
  float: left;
  width: 450px;
  overflow: hidden;
  height: 36px;
  font-size: 11px;
  line-height: 18px;
  text-shadow: 2px 2px 2px #222427;
  color: #fff;
  margin: 17px 0;
}
footer .footer_content .copyrightInfo p {
  padding: 0;
  margin: 0;
}
footer .footer_content .copyrightInfo p a {
  color: #fff;
}
footer .footer_content .bottomMenuAndBackToTop {
  float: left;
  width: 530px;
  overflow: hidden;
  height: 71px;
}
footer .footer_content .bottomMenuAndBackToTop nav {
  overflow: hidden;
  float: right;
  height: 18px;
  margin: 26px 4px 26px 0;
}
footer .footer_content .bottomMenuAndBackToTop nav a {
  display: none;
}
footer .footer_content .bottomMenuAndBackToTop nav a + a {
  display: block;
  float: left;
  color: #fff;
  margin-left: 0;
  font-size: 11px;
  line-height: 18px;
  text-shadow: 2px 2px 2px #222427;
}
footer .footer_content .bottomMenuAndBackToTop nav a + a:hover,
footer .footer_content .bottomMenuAndBackToTop nav a + a.current,
footer .footer_content .bottomMenuAndBackToTop nav a + a.active {
  font-weight: bold;
}
footer .footer_content .bottomMenuAndBackToTop nav a + a + a {
  margin-left: 24px;
}
.homePage header .fold {
  background: url("images/fold_bg.png") no-repeat;
  height: 667px;
}
.homePage header .fold .foldText {
  margin-top: 223px;
}
.homePage header section.headerContent .bottom .rightSide article {
  color: #fff;
}
.homePage header section.headerContent .bottom .rightSide article section.photo {
  height: 80px;
  width: 315px;
  margin: 22px 0;
}
.homePage header section.headerContent .bottom .rightSide article section.photo img {
  filter: url("images/gray.svg#grayscale");
  /* Firefox 3.5+ */

  filter: gray;
  /* IE6-9 */

  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */

  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */

  filter: gray;
  /* IE6+ */

  filter: grayscale(100%);
  /* Current draft standard */

  -webkit-filter: grayscale(100%);
  /* New WebKit */

  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.homePage header section.headerContent .bottom .rightSide article .realisationContent .date {
  font: bold 9px 'Arial';
}
.homePage header section.headerContent .bottom .rightSide article .realisationContent .title {
  font: bold 17px 'Arial';
  text-transform: uppercase;
  margin-bottom: 10px;
}
.homePage header section.headerContent .bottom .rightSide article .realisationContent p {
  font: bold 12px 'Arial';
  color: #fff;
  padding-bottom: 42px;
  background: url("images/lp_arrow.png") no-repeat 0 bottom;
}
.homePage .main section.leftSide {
  float: left;
  width: 380px;
}
.homePage .main section.rightSide {
  float: right;
}
.homePage .main h1 {
  font: 31px 'Arial';
  color: #000;
  line-height: 37px;
  text-transform: uppercase;
}
.homePage .main h2 {
  font: 20px 'Arial';
  color: #000;
  text-transform: uppercase;
}
.homePage .main span.highlight {
  color: #e47c29;
}
.homePage .main span.producent {
  color: #000;
  font: bold 13px 'Arial';
  margin-right: 8px;
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
  float: left;
  letter-spacing: -1px;
}
.homePage .main .contact h1 {
  font: 31px 'Arial';
  color: #000;
  margin-bottom: 30px;
}
.homePage .main .contact span.phone {
  display: inline-block;
  width: 77px;
  height: 29px;
  color: #000;
  padding: 6px 0 0 30px;
  font: 400 14px 'Arial';
  background: url("images/hp_contact_phone.png") no-repeat;
  float: left;
  margin-right: 2px;
}
.homePage .main .contact a.mail {
  display: inline-block;
  width: 136px;
  height: 29px;
  color: #ec8724;
  padding: 6px 0 0 30px;
  font: 400 14px 'Arial';
  background: url("images/lp_contact_mail.png") no-repeat;
}
.subPage header {
  height: auto;
}
.subPage header .fold {
  height: 576px;
  width: 250px;
  background: url("images/fold_sp_bg.png") no-repeat;
  left: 720px;
}
.subPage header .fold .foldContent {
  position: relative;
  top: 133px;
}
.subPage header .fold .foldContent h1,
.subPage header .fold .foldContent h2 {
  padding-left: 28px;
  color: #fff;
  font: 32px 'Arial';
}
.subPage header .fold .foldContent h1 {
  margin-top: -10px;
  font-size: 38px;
  margin-bottom: 16px;
}
.subPage header .fold .foldContent ul {
  padding: 0 10px;
}
.subPage header .fold .foldContent ul li {
  padding: 5px 0;
  list-style-type: none;
  padding-left: 22px;
  text-indent: -10px;
  border-bottom: 1px solid #f0a455;
}
.subPage header .fold .foldContent ul li:last-child {
  border: none;
}
.subPage header .fold .foldContent ul li:hover {
  text-indent: -20px;
  padding-left: 30px;
}
.subPage header .fold .foldContent ul li a {
  padding-left: 8px;
  font: bold 15px 'Arial';
  color: #000;
  text-transform: uppercase;
}
.subPage header .fold .foldContent ul li a.active,
.subPage header .fold .foldContent ul li a:hover {
  -moz-transition: linear 0.1s;
  -o-transition: linear 0.1s;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
  background: url("images/sp_fold_list_image.png") no-repeat left center;
  color: #fff;
  padding-left: 22px;
}
.subPage header .aboutPage {
  width: 690px;
  height: 95px;
}
.subPage header .aboutPage h1.title {
  font: 32px 'Arial';
  color: #fff;
  float: left;
  line-height: 90px;
}
.subPage header .aboutPage a.print {
  font: 32px 'Arial';
  color: #868686;
  float: right;
  line-height: 90px;
  border-left: 1px solid #272727;
  padding-left: 28px;
}
.subPage .main {
  overflow: hidden;
  min-height: 690px;
}
.subPage .main .foldColumn {
  float: left;
  width: 213px;
  overflow: hidden;
  margin: 0 17px 0 4px;
  padding: 10px 0 0 0;
}
.subPage .main .foldColumn div.box {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  margin: 0 0 25px 0;
  padding-bottom: 10px;
}
.subPage .main .foldColumn div.box h2 {
  color: #161616;
  font-size: 13px;
  line-height: 20px;
  background: #fff;
  padding: 0 10px;
  margin: -10px 0 0 17px;
  float: left;
  clear: both;
}
.subPage .main .foldColumn div.box .item {
  display: block;
  overflow: hidden;
  padding: 5px 16px;
  font-size: 13px;
  color: #323232;
  font-weight: bold;
}
.subPage .main .foldColumn div.box .item.active,
.subPage .main .foldColumn div.box .item:hover {
  background: #f7f7f7 url("images/bg_menu_left_hover.jpg") repeat-x left bottom;
}
.subPage .main .foldColumn div.box .item span {
  display: block;
  color: #707070;
  font-size: 10px;
  font-weight: normal;
}
.subPage .main .foldColumn div.box.sizer {
  padding: 15px 10px 15px 10px;
  text-align: justify;
}
.subPage .main .foldColumn div.box.sizer h2 {
  margin: -25px 0 0 17px;
}
.subPage .main .foldColumn div.box.sizer .item {
  display: inline;
  padding: 0 3px;
}
.subPage .main .foldColumn div.box.sizer .item.active,
.subPage .main .foldColumn div.box.sizer .item:hover {
  background: 0;
}
.subPage .main .foldColumn div.box.sizer .size_1 {
  font-size: 20px;
  font-weight: normal;
}
.subPage .main .foldColumn div.box.sizer .size_2 {
  font-size: 18px;
}
.subPage .main .foldColumn div.box.sizer .size_3 {
  font-size: 16px;
}
.subPage .main .foldColumn div.box.sizer .size_4 {
  font-weight: normal;
  font-size: 14px;
}
.subPage .main .foldColumn div.box.sizer .size_5 {
  font-weight: normal;
  font-size: 12px;
}
.subPage .main .foldColumn .box.trevda {
  border: 0;
}
.subPage .main .foldColumn .box.trevda .item {
  display: block;
  padding: 0;
  margin: 5px auto 0;
  text-align: center;
  max-width: 200px;
  max-height: 200px;
}
.subPage .main .foldColumn .box.project-advantages {
  background: url("images/project-advantages-banner.png") no-repeat 50% 0;
  width: 213px;
  height: 355px;
  padding: 0;
  border: 0;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}
.subPage .main .foldColumn .box.project-advantages .title {
  margin-top: 24px;
  overflow: hidden;
}
.subPage .main .foldColumn .box.project-advantages .title .left-line,
.subPage .main .foldColumn .box.project-advantages .title .text {
  float: left;
}
.subPage .main .foldColumn .box.project-advantages .title .left-line,
.subPage .main .foldColumn .box.project-advantages .title .right-line {
  height: 5px;
  background: #393939;
  margin-top: 9px;
}
.subPage .main .foldColumn .box.project-advantages .title .left-line {
  width: 12px;
}
.subPage .main .foldColumn .box.project-advantages .title .text {
  font-size: 19px;
  line-height: 22px;
  padding: 0 8px;
}
.subPage .main .foldColumn .box.project-advantages .title .right-line {
  float: right;
  width: 100px;
}
.subPage .main .foldColumn .box.project-advantages .text-1,
.subPage .main .foldColumn .box.project-advantages .text-2 {
  line-height: 18px;
  margin-left: 19px;
}
.subPage .main .foldColumn .box.project-advantages .text-1 {
  font-size: 14px;
}
.subPage .main .foldColumn .box.project-advantages .text-2 {
  font-size: 17px;
}
.subPage .main .foldColumn .box.project-advantages .text-2 span {
  font-size: 14px;
}
.subPage .main .foldColumn .box.project-advantages a {
  margin: 24px 0 0 19px;
  display: inline-block;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #c9ab84;
  font: bold 12px/32px Arial;
  border-bottom: 2px solid #5a390e;
  padding: 0 9px;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  text-shadow: 1px 2px 0px #ae9472;
}
.subPage .main .foldColumn .box.project-advantages a:hover {
  border-bottom-width: 0px;
}
.subPage .main article.subPageContent {
  width: 742px;
  float: left;
  overflow: hidden;
}
.subPage .main article.subPageContent h2.search_hint {
  background: url("images/search-title-ico.png") no-repeat 0 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 13px;
  color: #161616;
  margin: 5px 0 24px 23px;
  padding-left: 21px;
}
.subPage .main article.subPageContent h1.page_title {
  color: #161616;
  font-size: 13px;
  line-height: 20px;
  background: #fff;
  padding: 0 10px;
  margin: 0 0 -11px 17px;
  float: left;
  clear: both;
}
.subPage .main article.subPageContent.editor h1.page_title {
  color: #161616;
  font-size: 28px;
  line-height: 35px;
  background: #fff;
  padding: 15px 8px;
  margin: 0 0 -67px 17px;
  float: left;
  clear: both;
  background: 0;
}
.subPage .main article.subPageContent div.content {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  clear: both;
  overflow: hidden;
  padding: 15px 0 0;
}
.subPage .main article.subPageContent div.content.page {
  padding: 65px 0 0;
  line-height: 20px;
}
.subPage .main article.subPageContent div.content.page p {
  padding: 0 23px;
}
.subPage .main article.subPageContent div.content .thanksHeader {
  font-size: 22px;
  line-height: 22px;
  color: #825b28;
  background: url("images/confirm.png") no-repeat top center;
  overflow: hidden;
  text-align: center;
  padding: 52px 0 0 0;
  margin: 2px 0 0 0;
}
.subPage .main article.subPageContent div.content .thanksMail {
  color: #e44848;
  overflow: hidden;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  margin: 22px auto 0 auto;
  width: 576px;
}
.subPage .main article.subPageContent div.content .thanksInfo {
  overflow: hidden;
  text-align: center;
  margin-top: 24px;
  color: #131313;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}
.subPage .main article.subPageContent div.content .thanksInfo a {
  color: #825b28;
  font-weight: bold;
  font-size: 13px;
  text-decoration: underline;
}
.subPage .main article.subPageContent div.content .thanksSignature {
  margin: 27px 42px 0;
  height: 36px;
  text-align: right;
}
.subPage .main article.subPageContent div.content .thanksSignature .thanksText {
  font-size: 11px;
  color: #131313;
  font-style: italic;
  line-height: 14px;
}
.subPage .main article.subPageContent div.content .thanksSignature .textLogo {
  font-size: 12px;
  color: #323232;
  font-weight: bold;
  line-height: 19px;
}
.subPage .main article.subPageContent div.content .thanksSignature .textLogo span {
  color: #a8a8a8;
}
.subPage .main article.subPageContent div.content .thanksBack {
  margin-top: 33px;
  overflow: hidden;
  text-align: center;
  color: #131313;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}
.subPage .main article.subPageContent div.content .thanksBack a {
  color: #825b28;
  font-weight: bold;
  font-size: 13px;
}
.subPage .main article.subPageContent div.content .addForm {
  height: 159px;
  background: url("images/bg_1.jpg") no-repeat 0 100%;
  margin-top: 15px;
  position: relative;
}
.subPage .main article.subPageContent div.content .addForm div.tekst_1 {
  width: 222px;
  height: 59px;
  background: url("images/text_1.png") no-repeat 0 0;
  overflow: hidden;
  position: absolute;
  top: 26px;
  left: 36px;
}
.subPage .main article.subPageContent div.content .addForm a.button_1 {
  display: block;
  width: 245px;
  height: 29px;
  background: url("images/button_1.png") no-repeat 0 0;
  overflow: hidden;
  position: absolute;
  bottom: 16px;
  left: 36px;
}
.subPage .main article.subPageContent div.content .addForm a.button_2 {
  display: block;
  width: 146px;
  height: 66px;
  background: url("images/dodaj.png") no-repeat 0 0;
  overflow: hidden;
  position: absolute;
  top: 30px;
  right: 27px;
}
.subPage .main article.subPageContent div.content .addForm.realizations {
  height: 231px;
  margin-top: 16px;
}
.subPage .main article.subPageContent div.content .addForm.realizations .tekst_1 {
  top: 96px;
}
.subPage .main article.subPageContent div.content .addForm.realizations .button_2 {
  top: 101px;
}
.subPage .main article.subPageContent div.content .addForm .resetSearch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 61px;
  display: block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  background: #825b28;
  -webkit-border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  -moz-border-radius-bottomleft: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}
.subPage .main article.subPageContent div.content .addForm .resetSearch span {
  display: block;
  width: 520px;
  font: bold 18px/61px Arial;
  color: #fff;
  margin: 0 auto;
  background: url("images/rounded-arrow.png") no-repeat 100% 50%;
  text-shadow: 0px 1px 2px #244b9c;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.subPage .main article.subPageContent div.content .addForm .resetSearch:hover span {
  background-position: 100% 40%;
}
.subPage .main article.subPageContent .intro {
  text-align: center;
  font-size: 12px;
  color: #323232;
  line-height: 14px;
  overflow: hidden;
  margin: 10px 20px 20px;
}
.subPage .main article.subPageContent .leftForm {
  float: left;
  width: 340px;
  margin: 0 33px 0 30px;
  overflow: hidden;
}
.subPage .main article.subPageContent .leftForm input[type=text] {
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16) !important;
  -moz-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16) !important;
  box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16) !important;
  width: 194px;
  padding: 3px 5px;
  height: 22px;
  line-height: 16px;
  float: left;
  margin: 0 0 8px 0;
  font-size: 11px;
  color: #323232;
  font-family: "Arial";
}
.subPage .main article.subPageContent .leftForm input[type=text].small {
  width: 59px;
}
.subPage .main article.subPageContent .leftForm .imageCont {
  overflow: hidden;
}
.subPage .main article.subPageContent .leftForm .imageCont .imageForm {
  display: block;
  width: 146px;
  height: 118px;
  overflow: hidden;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  -moz-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  float: left;
}
.subPage .main article.subPageContent .leftForm .imageCont .imageLabel {
  float: left;
  overflow: hidden;
}
.subPage .main article.subPageContent .leftForm .imageCont .imageLabel a {
  display: block;
  overflow: hidden;
  color: #000;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  margin: 0 15px 10px;
  cursor: pointer;
}
.subPage .main article.subPageContent .leftForm .imageCont .imageLabel a + a {
  color: #373737;
}
.subPage .main article.subPageContent .leftForm .imageCont .error-field ul {
  float: none;
  width: 100%;
}
.subPage .main article.subPageContent .leftForm .imageCont .error-field li {
  line-height: 14px;
  text-align: left;
}
.subPage .main article.subPageContent .leftForm .categoriesForm {
  display: block;
  width: 328px;
  min-height: 90px;
  padding: 5px;
  overflow: hidden;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  -moz-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
}
.subPage .main article.subPageContent .leftForm .categoriesForm input {
  border: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  min-width: 50px;
  float: left;
  overflow: hidden;
}
.subPage .main article.subPageContent .leftForm .categoriesForm input:focus {
  outline: none;
}
.subPage .main article.subPageContent .leftForm .categoriesForm ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}
.subPage .main article.subPageContent .leftForm .categoriesForm ul li.select2-search-choice {
  background: url("images/bg_li.jpg") repeat-x 0 0;
  line-height: 23px;
  float: left;
  overflow: hidden;
  border: 1px solid #bed6e5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px #e9f1f7;
  box-shadow: 0px 2px 3px 0px #e9f1f7;
  margin: 0 5px 5px 0;
  height: 23px;
  padding: 0 36px 0 11px;
  font-size: 12px;
  color: #000000;
  position: relative;
}
.subPage .main article.subPageContent .leftForm .categoriesForm ul li.select2-search-choice a {
  border-left: 1px solid #bed6e5;
  height: 23px;
  width: 25px;
  display: block;
  background: url("images/bg_close.jpg") no-repeat 9px 8px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: initial;
  cursor: pointer;
}
.subPage .main article.subPageContent .leftForm .categoriesForm ul li.select2-search-field {
  margin: 0;
  padding: 0;
}
.subPage .main article.subPageContent .mceIframeContainer {
  -webkit-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16) !important;
  -moz-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16) !important;
  box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16) !important;
}
.subPage .main article.subPageContent .rightForm {
  float: left;
  width: 310px;
  margin: 0;
}
.subPage .main article.subPageContent .rightForm input[type=text] {
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16) !important;
  -moz-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16) !important;
  box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16) !important;
  width: 194px;
  padding: 3px 5px;
  height: 22px;
  line-height: 16px;
  float: left;
  margin: 0 0 8px 0;
  font-size: 11px;
  color: #323232;
  font-family: "Arial";
}
.subPage .main article.subPageContent .rightForm input[type=text].small {
  width: 59px;
}
.subPage .main article.subPageContent .rightForm label {
  width: 104px;
  line-height: 16px;
  padding: 3px 0;
  float: left;
  font-size: 11px;
  color: #323232;
  font-weight: bold;
  margin: 0 0 8px 0;
}
.subPage .main article.subPageContent .rightForm label.first {
  font-size: 14px;
  line-height: 18px;
  padding: 2px 0;
}
.subPage .main article.subPageContent .rightForm label.small {
  margin: 0 0 8px 10px;
  width: 54px;
}
.subPage .main article.subPageContent .rightForm .addAnother {
  color: #825b28;
  font-weight: bold;
  font-size: 11px;
  margin: -4px 0 10px 104px;
  display: block;
  cursor: pointer;
}
.subPage .main article.subPageContent .rightForm .hidden {
  display: none;
}
.subPage .main article.subPageContent .rightForm .keywordForm,
.subPage .main article.subPageContent .rightForm .markForm {
  display: block;
  width: 295px;
  min-height: 90px;
  padding: 5px;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  -moz-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  overflow: hidden;
}
.subPage .main article.subPageContent .rightForm .keywordForm #select2-drop,
.subPage .main article.subPageContent .rightForm .markForm #select2-drop {
  display: none !important;
}
.subPage .main article.subPageContent .rightForm .keywordForm input,
.subPage .main article.subPageContent .rightForm .markForm input {
  border: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  min-width: 50px;
  float: left;
  overflow: hidden;
}
.subPage .main article.subPageContent .rightForm .keywordForm input:focus,
.subPage .main article.subPageContent .rightForm .markForm input:focus {
  outline: none;
}
.subPage .main article.subPageContent .rightForm .keywordForm ul,
.subPage .main article.subPageContent .rightForm .markForm ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}
.subPage .main article.subPageContent .rightForm .keywordForm ul li.select2-search-choice,
.subPage .main article.subPageContent .rightForm .markForm ul li.select2-search-choice {
  background: url("images/bg_li.jpg") repeat-x 0 0;
  line-height: 23px;
  float: left;
  overflow: hidden;
  border: 1px solid #bed6e5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px #e9f1f7;
  box-shadow: 0px 2px 3px 0px #e9f1f7;
  margin: 0 5px 5px 0;
  height: 23px;
  padding: 0 36px 0 11px;
  font-size: 12px;
  color: #000000;
  position: relative;
}
.subPage .main article.subPageContent .rightForm .keywordForm ul li.select2-search-choice a,
.subPage .main article.subPageContent .rightForm .markForm ul li.select2-search-choice a {
  border-left: 1px solid #bed6e5;
  height: 23px;
  width: 25px;
  display: block;
  background: url("images/bg_close.jpg") no-repeat 9px 8px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: initial;
  cursor: pointer;
}
.subPage .main article.subPageContent .rightForm .keywordForm ul li.select2-search-field,
.subPage .main article.subPageContent .rightForm .markForm ul li.select2-search-field {
  margin: 0;
  padding: 0;
}
.subPage .main article.subPageContent .rightForm .data-info {
  font: normal 12px/14px Arial;
  color: #323232;
  margin-top: 7px;
}
.subPage .main article.subPageContent .rightForm .data-info span {
  font-weight: bold;
}
.subPage .main article.subPageContent .rightForm .data-info a {
  color: #323232;
  text-decoration: none;
  outline: none;
}
.subPage .main article.subPageContent .rightForm .data-info a:hover {
  text-decoration: underline;
}
.subPage .main article.subPageContent.offer-add {
  overflow: hidden;
}
.subPage .main article.subPageContent.offer-add input.error,
.subPage .main article.subPageContent.offer-add label.error {
  border-color: #da6969;
}
.subPage .main article.subPageContent.offer-add .error-field ul {
  clear: left;
  display: block;
  width: 206px;
  float: right;
  padding: 0;
  margin: 0;
}
.subPage .main article.subPageContent.offer-add .error-field li {
  background: none;
  text-align: center;
  font-weight: normal;
  font-size: 10px;
  color: #ca3c3c;
  display: block;
}
.subPage .main article.subPageContent.offer-add .error-field.rules {
  float: left;
}
.subPage .main article.subPageContent.offer-add .error-field.categories ul {
  float: none;
  width: 100%;
}
.subPage .main article.subPageContent.offer-add .offer-add-form .select2-container {
  margin-bottom: 8px;
}
.subPage .main article.subPageContent.offer-add .offer-add-form .select2-container.normal-container .select2-choice {
  width: 204px;
}
.subPage .main article.subPageContent.offer-add .offer-add-form .header {
  color: #161616;
  font-size: 13px;
}
.subPage .main article.subPageContent .header {
  color: #323232;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  padding: 0 22px 0 12px;
  margin: 15px 0 0 0;
  position: relative;
  clear: both;
}
.subPage .main article.subPageContent .header span {
  float: left;
}
.subPage .main article.subPageContent .header .boxInfo {
  float: left;
  margin: 6px 0 0 7px;
  width: 15px;
  height: 15px;
  background: url("images/show-info.png") no-repeat 0 0;
  cursor: pointer;
  z-index: 1000;
  position: relative;
}
.subPage .main article.subPageContent .header .boxInfo[data-comment]:after {
  content: attr(data-comment);
  display: none;
  position: absolute;
  right: -20px;
  bottom: 20px;
  font-weight: normal;
  font-size: 10px;
  border: 1px solid #eaeaea;
  border-right: 1px solid #969898;
  border-bottom: 1px solid #969898;
  cursor: pointer;
  z-index: 1000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 9px;
  color: #0f0f0f;
  text-align: left;
  -webkit-box-shadow: 1px 1px 1px 1px #dcdddd;
  box-shadow: 1px 1px 1px 1px #dcdddd;
  line-height: 14px;
}
.subPage .main article.subPageContent .header .boxInfo[data-comment]:hover:after {
  display: block;
  width: 160px;
  background: #fff;
  text-decoration: none !important;
}
.subPage .main article.subPageContent .header2:before {
  content: "";
  display: block;
  border-top: solid 1px #8c8a86;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.subPage .main article.subPageContent .header2 {
  color: #161616;
  font-size: 13px;
  font-weight: bold;
  line-height: 28px;
  padding: 0;
  margin: 20px 0 10px 0;
  overflow: hidden;
  height: 28px;
  position: relative;
}
.subPage .main article.subPageContent .header2 span {
  float: left;
  padding: 0 10px 0 0;
  background: #fff;
  position: relative;
  z-index: 2;
}
.subPage .main article.subPageContent .details {
  color: #191919;
  font-size: 9px;
  line-height: 12px;
  padding: 3px 0;
  overflow: hidden;
}
.subPage .main article.subPageContent .bottomForm {
  overflow: hidden;
  margin: 15px 0 0 30px;
  width: 680px;
  height: 70px;
}
.subPage .main article.subPageContent .bottomForm input[type=checkbox] {
  float: left;
  height: 20px;
  margin: 0 9px 0 0;
}
.subPage .main article.subPageContent .bottomForm label {
  float: left;
  font-size: 12px;
  color: #272727;
  line-height: 20px;
  font-weight: 600;
}
.subPage .main article.subPageContent .bottomForm label a {
  color: #825b28;
  font-weight: bold;
}
.subPage .main article.subPageContent .bottomForm input[type=submit] {
  float: right;
  width: 121px;
  height: 34px;
  margin: 13px 0 0 0;
  background: #c9ab84;
  border: 0;
  border-bottom: 2px solid #5a390e;
  color: #fff;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  text-shadow: 1px 2px 0px #957e61;
  text-align: center;
}
.subPage .main article.subPageContent .bottomForm > a {
  float: right;
  width: 121px;
  height: 32px;
  margin: 13px 19px 0 0;
  background: #6b6b6b;
  border-bottom: 2px solid #2f2f2f;
  color: #fff;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 32px;
  text-shadow: 1px 2px 0px #504f4f;
  text-align: center;
}
.subPage .main article.realisations p.header {
  font: 400 12px 'Arial';
  color: #161616;
  padding: 5px 15px;
}
.subPage .main article.realisations p.header span {
  color: #000;
  float: none !important;
  font-weight: bold;
}
.subPage .main article.realisations #offers_map {
  position: relative;
  width: 714px;
  height: 216px;
  overflow: hidden;
  margin: 12px auto 0;
  border: 1px solid #d3d3d3;
}
.subPage .main article.realisations .realisationsGallery {
  margin-top: 12px;
  width: 690px;
  float: left;
}
.subPage .main article.realisations .realisationsGallery .realisationItem {
  width: 740px;
  height: 106px;
  background-color: #fff;
  margin: 0;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}
.subPage .main article.realisations .realisationsGallery .realisationItem:hover,
.subPage .main article.realisations .realisationsGallery .realisationItem.active {
  background: url("images/realisation_bg.jpg") repeat-x 0 0;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .photo {
  float: left;
  overflow: hidden;
  width: 165px;
  height: 106px;
  position: relative;
  z-index: 1;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .photo .no-avatar {
  overflow: hidden;
  width: 98px;
  height: 81px;
  border: 1px solid #d8d8d8;
  background: #fff;
  font: bold 11px/13px Arial;
  color: #777777;
  margin: 12px 0 0 43px;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .photo .no-avatar span {
  display: block;
  margin-top: 28px;
  text-align: center;
  padding: 0 12px;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .photo a {
  display: block;
  overflow: hidden;
  width: 145px;
  height: 106px;
  margin-left: 20px;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .info {
  float: left;
  overflow: hidden;
  width: 277px;
  height: 106px;
  position: relative;
  z-index: 1;
  padding-left: 37px;
  background: url("images/bg_info.png") no-repeat top left;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .info .name {
  color: #323232;
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  margin-top: 23px;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .info .address {
  color: #323232;
  font-size: 13px;
  line-height: 22px;
  height: 22px;
  overflow: hidden;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .info .address span {
  font-weight: bold;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .trade {
  float: left;
  overflow: hidden;
  width: 257px;
  height: 106px;
  position: relative;
  z-index: 1;
  margin-left: 4px;
  font-size: 12px;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .trade h3 {
  color: #323232;
  font-weight: bold;
  height: 16px;
  font-size: 12px;
  margin-top: 19px;
  overflow: hidden;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .trade div {
  color: #323232;
  overflow: hidden;
  line-height: 17px;
  height: 51px;
  font-weight: bold;
  font-size: 12px;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .star {
  background: url("images/ico-promoted.png") no-repeat 0 0;
  position: absolute;
  right: 0;
  top: 7px;
  width: 62px;
  height: 94px;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .num {
  background: url("images/offers-list-num-bg.png") no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 33px;
  width: 23px;
  height: 38px;
  text-align: center;
  font: bold 16px/38px Arial;
  color: #fff;
  text-indent: -4px;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .selectedFromMapOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffc5c0;
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
  display: none;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .selectedFromMapOverlay.visible {
  display: block;
}
.subPage .main article.realisations .realisationsGallery .realisationItem .selectedFromMapOverlay.start {
  opacity: 0;
}
.subPage .main article.realisations .realisationsGallery .realisationItem + .realisationItem {
  border-top: 0;
}
.subPage .main article.realisations .afterRealisation {
  overflow: hidden;
}
.subPage .main article.realisations .afterRealisation .addInfo {
  font-size: 11px;
  color: #3c3c3c;
  float: left;
  line-height: 16px;
  overflow: hidden;
  margin: 23px 0 0 13px;
}
.subPage .main article.realisations .afterRealisation .addInfo a {
  color: #825b28;
  font-weight: bold;
}
.subPage .main article.realisations .afterRealisation .pagination {
  float: right;
  text-align: center;
  font-size: 12px;
  margin: 17px 35px 0 0;
  overflow: hidden;
  clear: right;
}
.subPage .main article.realisations .afterRealisation .pagination a.page {
  float: left;
  color: #3c3c3c;
  margin-right: 5px;
  line-height: 30px;
  display: block;
  height: 30px;
}
.subPage .main article.realisations .afterRealisation .pagination a.page.next,
.subPage .main article.realisations .afterRealisation .pagination a.page.prev {
  font-weight: normal;
  width: 70px;
}
.subPage .main article.realisations .afterRealisation .pagination a.page.next {
  padding-right: 12px;
  background: url("images/page_right.jpg") no-repeat center right;
}
.subPage .main article.realisations .afterRealisation .pagination a.page.prev {
  padding-left: 12px;
  background: url("images/page_left.jpg") no-repeat center left;
}
.subPage .main article.realisations .afterRealisation .pagination a.page.active,
.subPage .main article.realisations .afterRealisation .pagination a.page:hover {
  font-weight: bold;
}
.subPage .main article.realisations .category-info,
.subPage .main article.offer-details .category-info {
  height: 162px;
  width: 696px;
  background: #e7e7e7;
  margin: 0 0 19px 22px;
}
.subPage .main article.realisations .category-info img,
.subPage .main article.offer-details .category-info img {
  float: left;
  margin: 0;
  padding: 0;
}
.subPage .main article.realisations .category-info .name,
.subPage .main article.offer-details .category-info .name {
  float: right;
  clear: right;
  color: #5a390e;
  width: 300px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
  line-height: 24px;
}
.subPage .main article.realisations .category-info .small-description,
.subPage .main article.offer-details .category-info .small-description {
  margin-top: 10px;
  float: right;
  clear: right;
  width: 300px;
}
.subPage .main article.offer-details {
  overflow: hidden;
  padding-top: 0;
}
.subPage .main article.offer-details .content {
  padding-top: 23px;
}
.subPage .main article.offer-details .location-info {
  width: 696px;
  background: #fff;
  border-top: 1px solid #cdb18e;
  border-bottom: 1px solid #cdb18e;
  padding: 6px 22px;
  color: #323232;
  font: normal 13px/20px Arial;
}
.subPage .main article.offer-details .location-info a {
  font-weight: bold;
  text-decoration: none;
  color: #c9ab84;
}
.subPage .main article.offer-details .location-info a:hover {
  text-decoration: underline;
}
.subPage .main article.offer-details .company {
  float: left;
  overflow: hidden;
  position: relative;
}
.subPage .main article.offer-details .company.left {
  width: 246px;
  padding-bottom: 120px;
}
.subPage .main article.offer-details .company.left .image {
  width: 190px;
  height: 160px;
  margin: 25px 0 15px 25px;
  -webkit-box-shadow: 0 0 10px 2px #efefef;
  box-shadow: 0 0 10px 2px #efefef;
  overflow: hidden;
}
.subPage .main article.offer-details .company.left .image .center {
  line-height: 160px;
  text-align: center;
  height: 160px;
  width: 190px;
  display: table;
}
.subPage .main article.offer-details .company.left .image a {
  display: table-cell;
  vertical-align: middle;
}
.subPage .main article.offer-details .company.left .button {
  outline: none;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  height: 31px;
  line-height: 31px;
  width: 140px;
  position: relative;
  margin-left: 52px;
  background: #c9ab84;
  border-bottom: 2px solid #5a390e;
  text-shadow: 1px 2px 0px #988164;
}
.subPage .main article.offer-details .company.left .button span {
  display: inline-block;
  height: 100%;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.subPage .main article.offer-details .company.left .button.saving:before {
  content: '';
  height: 20px;
  width: 20px;
  background: url("images/ajax-loader.gif") no-repeat;
  position: absolute;
  left: -25px;
  top: 7px;
}
.subPage .main article.offer-details .company.left .button.promote span {
  padding-left: 44px;
  background: url("images/ico-star.png") no-repeat 13px 50%;
}
.subPage .main article.offer-details .company.left .button.promote span:hover {
  background-position: 16px 50%;
}
.subPage .main article.offer-details .company.left .button.edit {
  font-size: 12px;
}
.subPage .main article.offer-details .company.left .button.edit span {
  padding-left: 41px;
  background: url("images/ico-tools.png") no-repeat 11px 50%;
}
.subPage .main article.offer-details .company.left .button.edit span:hover {
  background-position: 14px 50%;
}
.subPage .main article.offer-details .company.left .button.delete span {
  padding-left: 50px;
  background: url("images/ico-delete.png") no-repeat 10px 50%;
}
.subPage .main article.offer-details .company.left .button.delete span:hover {
  background-position: 13px 50%;
}
.subPage .main article.offer-details .company.left .info-tooltip {
  float: right;
  margin: 8px 30px 0 0;
  width: 15px;
  height: 15px;
  background: url("images/show-info.png") no-repeat 0 0;
  cursor: pointer;
  z-index: 1000;
}
.subPage .main article.offer-details .company.left .info-tooltip:after {
  content: attr(data-comment);
  display: none;
  position: absolute;
  right: 50px;
  top: 30px;
  font-weight: normal;
  font-size: 10px;
  border: 1px solid #eaeaea;
  border-right: 1px solid #969898;
  border-bottom: 1px solid #969898;
  cursor: pointer;
  z-index: 1000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 9px;
  color: #0f0f0f;
  text-align: left;
  -webkit-box-shadow: 1px 1px 1px 1px #dcdddd;
  box-shadow: 1px 1px 1px 1px #dcdddd;
}
.subPage .main article.offer-details .company.left .info-tooltip:hover:after {
  display: block;
  width: 136px;
  background: #fff;
  text-decoration: none !important;
}
.subPage .main article.offer-details .company.left .promote-wrapper,
.subPage .main article.offer-details .company.left .request-edit-wrapper,
.subPage .main article.offer-details .company.left .request-delete-wrapper {
  position: relative;
  width: 100%;
}
.subPage .main article.offer-details .company.left .promote-wrapper {
  margin-top: 20px;
}
.subPage .main article.offer-details .company.left .request-edit-wrapper {
  margin-top: 28px;
}
.subPage .main article.offer-details .company.left .request-delete-wrapper {
  margin-top: 8px;
}
.subPage .main article.offer-details .company.right {
  width: 470px;
  margin-top: 23px;
}
.subPage .main article.offer-details .company.right > div {
  margin-left: 6px;
}
.subPage .main article.offer-details .company.right .like {
  height: 39px;
}
.subPage .main article.offer-details .company.right .name {
  line-height: 31px;
  font-weight: bold;
  font-size: 26px;
  color: #323232;
}
.subPage .main article.offer-details .company.right .contact-info {
  color: #323232;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  margin-top: 14px;
}
.subPage .main article.offer-details .company.right .contact-info .address {
  font-size: 14px;
}
.subPage .main article.offer-details .company.right .contact-info a {
  color: #c9ab84;
  text-decoration: none;
}
.subPage .main article.offer-details .company.right .contact-info a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.subPage .main article.offer-details .company.right .contact-info .facebook {
  padding-left: 28px;
  display: block;
  position: relative;
  margin-top: 12px;
}
.subPage .main article.offer-details .company.right .contact-info .facebook:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("images/offer_details_facebook.png") no-repeat 0 0;
}
.subPage .main article.offer-details .company.right .additional-addresses {
  list-style: none;
  margin: 0;
}
.subPage .main article.offer-details .company.right .additional-addresses li {
  background: none;
}
.subPage .main article.offer-details .company.right .additional-addresses li:first-child {
  padding-top: 3px;
}
.subPage .main article.offer-details .company.right .additional-addresses li:not(:first-child) {
  padding-top: 10px;
}
.subPage .main article.offer-details .company.right .highlight {
  border: 3px solid #9c1006;
  border-radius: 8px;
  padding: 10px;
}
.subPage .main article.offer-details .company.right .highlight .data-info {
  border-bottom: 0;
  padding-bottom: 0;
}
.subPage .main article.offer-details .company.right .line {
  margin: 17px 0 4px 0;
  background: #d3d3d3;
  height: 1px;
  width: 464px;
}
.subPage .main article.offer-details .company.right .desc-title {
  margin-top: 5px;
  padding-left: 21px;
  line-height: 31px;
  font-weight: bold;
  font-size: 16px;
  color: #323232;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.subPage .main article.offer-details .company.right .desc-title.additional-addresses-title {
  background-image: url("images/offer-additional-addresses-ico.png");
  margin-top: 19px;
}
.subPage .main article.offer-details .company.right .desc-title.description-title {
  background-image: url("images/offer-description-ico.png");
}
.subPage .main article.offer-details .company.right .desc-title.keywords-title {
  background-image: url("images/offer-keywords-ico.png");
}
.subPage .main article.offer-details .company.right .description,
.subPage .main article.offer-details .company.right .description a,
.subPage .main article.offer-details .company.right .description p {
  line-height: 18px;
  font-size: 11px;
}
.subPage .main article.offer-details .company.right .description,
.subPage .main article.offer-details .company.right .description p {
  color: #3c3c3c;
}
.subPage .main article.offer-details .company.right .description a {
  color: #c9ab84;
}
.subPage .main article.offer-details .company.right .data-info {
  background: url("images/ico-info-gray.png") no-repeat 0 1px;
  margin-top: 15px;
  padding: 0 0 17px 14px;
  width: 450xp;
  border-bottom: 1px solid #d3d3d3;
  line-height: 12px;
  font-size: 10px;
  color: #7b7b7b;
  font-style: italic;
}
.subPage .main article.offer-details .company.right .referral-form {
  position: relative;
  overflow: hidden;
}
.subPage .main article.offer-details .company.right .referral-form form {
  display: block;
}
.subPage .main article.offer-details .company.right .referral-form form ul,
.subPage .main article.offer-details .company.right .referral-form form li {
  display: block;
  margin: 0;
  padding: 0;
}
.subPage .main article.offer-details .company.right .referral-form form li {
  list-style: none;
  color: #ff0000;
  background: none;
}
.subPage .main article.offer-details .company.right .referral-form form .success {
  font-weight: bold;
  color: #1a8863;
}
.subPage .main article.offer-details .company.right .referral-form .form-title {
  margin-top: 9px;
  line-height: 30px;
  font-size: 13px;
  font-weight: bold;
  color: #171717;
}
.subPage .main article.offer-details .company.right .referral-form input[type=text] {
  width: 171px;
  height: 22px;
  line-height: 22px;
  padding: 0 9px;
  margin: 0;
  float: left;
  border: 1px solid #d3d3d3;
  box-shadow: inset 0px 0px 3px #f6f6f6;
  outline: none;
  color: #606060;
  font-size: 11px;
  font-style: italic;
}
.subPage .main article.offer-details .company.right .referral-form input[type=text]::-webkit-input-placeholder {
  /* WebKit browsers */

  font-size: 11px;
  font-style: italic;
}
.subPage .main article.offer-details .company.right .referral-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  font-size: 11px;
  font-style: italic;
}
.subPage .main article.offer-details .company.right .referral-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  font-size: 11px;
  font-style: italic;
}
.subPage .main article.offer-details .company.right .referral-form :-ms-input-placeholder {
  /* Internet Explorer 10+ */

  font-size: 11px;
  font-style: italic;
}
.subPage .main article.offer-details .company.right .referral-form input[type=submit] {
  float: left;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
  border: 0;
  width: 100px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #c9ab84;
  text-shadow: 1px 2px 0px #957e61;
}
.subPage .main article.offer-details .company.right .referral-form .print {
  background: url("images/ico-print.png") no-repeat;
  display: inline-block;
  line-height: 18px;
  padding-left: 23px;
  text-decoration: none;
  outline: none;
  color: #171717;
  font-weight: bold;
  font-size: 11px;
  position: absolute;
  top: 43px;
  right: 0;
  cursor: pointer;
}
.subPage .main article.offer-details .company.right .referral-form .print:hover {
  text-decoration: underline;
}
.subPage .main article.offer-details .similar-search-help {
  padding-left: 22px;
  width: 718px;
  height: 41px;
  background: #383838;
  margin-top: 25px;
}
.subPage .main article.offer-details .similar-search-help > span {
  color: #fff;
  float: left;
  font-size: 13px;
  line-height: 41px;
}
.subPage .main article.offer-details .similar-search-help a {
  outline: none;
  text-decoration: none;
  float: left;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0px #8f795e;
  margin-top: 8px;
  padding: 0 12px 0 31px;
  line-height: 23px;
  margin-left: 14px;
  background: #c9ab84 url("images/magnifier-ico.png") no-repeat 10px 5px;
}
.subPage .main article.offer-details .map {
  width: 691px;
  height: 216px;
  border: 1px solid #d3d3d3;
  margin: 24px auto 0 auto;
}
.subPage .main article.offer-details .commentForm {
  width: 656px;
  margin: 32px auto 13px;
  overflow: hidden;
}
.subPage .main article.offer-details .commentForm .formHeader {
  background: #825b28;
  height: 29px;
  line-height: 29px;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
  text-align: center;
  text-shadow: 0px 1px 1px #62441e;
  border-bottom: 2px solid #5a390e;
}
.subPage .main article.offer-details .commentForm .formContent {
  height: 0px;
  overflow: hidden;
  background: #efefef;
}
.subPage .main article.offer-details .commentForm .formContent .container {
  margin: 25px;
  height: 121px;
}
.subPage .main article.offer-details .commentForm .formContent .container .contLeft {
  float: left;
  width: 180px;
  margin: 0 48px 0 0;
}
.subPage .main article.offer-details .commentForm .formContent .container .contLeft label {
  display: block;
  line-height: 20px;
  height: 20px;
  color: #323232;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 11px;
}
.subPage .main article.offer-details .commentForm .formContent .container .contLeft input[type=text] {
  display: block;
  padding: 0 8px;
  height: 22px;
  width: 162px;
  font-size: 11px;
  font-style: italic;
  line-height: 22px;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: inset 0px 0px 7px 0px #d3d3d3;
  box-shadow: inset 0px 0px 7px 0px #d3d3d3;
  margin: 0 0 16px 0;
}
.subPage .main article.offer-details .commentForm .formContent .container .contRight {
  float: left;
  width: 373px;
}
.subPage .main article.offer-details .commentForm .formContent .container .contRight label {
  display: block;
  line-height: 20px;
  height: 20px;
  color: #323232;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 11px;
}
.subPage .main article.offer-details .commentForm .formContent .container .contRight textarea {
  display: block;
  resize: none;
  padding: 4px 8px;
  height: 52px;
  width: 355px;
  font-size: 11px;
  font-style: italic;
  line-height: 13px;
  border: 1px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  -webkit-box-shadow: inset 0px 0px 7px 0px #d3d3d3;
  box-shadow: inset 0px 0px 7px 0px #d3d3d3;
}
.subPage .main article.offer-details .commentForm .formContent .container .contBottom {
  position: relative;
  top: -22px;
}
.subPage .main article.offer-details .commentForm .formContent .container .contBottom .inHeader {
  float: left;
  width: 322px;
  overflow: hidden;
  margin: 27px 0 0 0;
  color: #323232;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
  font-weight: bold;
  font-style: italic;
}
.subPage .main article.offer-details .commentForm .formContent .container .contBottom .inCheckbox {
  float: left;
  width: 65px;
  overflow: hidden;
  padding: 28px 0 0 0;
}
.subPage .main article.offer-details .commentForm .formContent .container .contBottom .inCheckbox.ch_1 {
  background: url("images/showUp.png") no-repeat 12px 2px;
}
.subPage .main article.offer-details .commentForm .formContent .container .contBottom .inCheckbox.ch_2 {
  background: url("images/showDown.png") no-repeat 12px 2px;
}
.subPage .main article.offer-details .commentForm .formContent .container .contBottom .inCheckbox label {
  margin: 0 0 0 6px;
  float: left;
  color: #323232;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
  font-weight: bold;
  font-style: italic;
}
.subPage .main article.offer-details .commentForm .formContent .container .contBottom .inCheckbox input[type=radio] {
  float: left;
  height: 20px;
}
.subPage .main article.offer-details .commentForm .formContent .container .contBottom input[type=submit] {
  float: right;
  margin: 14px 0 0;
  outline: none;
  cursor: pointer;
  border: 0;
  width: 102px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #c9ab84;
  text-shadow: 1px 2px 0px #957e61;
}
.subPage .main article.offer-details .commentForm .formShower {
  height: 27px;
  width: 58px;
  background: url("images/showCommentForm.png") no-repeat 0 0;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.subPage .main article.offer-details .detailsComments {
  width: 656px;
  margin: 0 auto;
  overflow: hidden;
}
.subPage .main article.offer-details .detailsComments .comText {
  line-height: 14px;
  color: #131313;
  font-size: 12px;
  font-style: italic;
  margin: 0 0 7px 0;
}
.subPage .main article.offer-details .detailsComments .comDate {
  color: #868686;
  font-weight: bold;
  line-height: 14px;
  font-size: 12px;
}
.subPage .main article.offer-details .detailsComments .detailsPositive,
.subPage .main article.offer-details .detailsComments .detailsNegative {
  height: 41px;
  overflow: hidden;
  margin: 6px 0 0 0;
  padding: 10px 20px 16px 56px;
  height: auto;
}
.subPage .main article.offer-details .detailsComments .detailsPositive {
  background: #b7e6d6 url("images/comPoz.png") no-repeat 0 0;
}
.subPage .main article.offer-details .detailsComments .detailsNegative {
  background: #e4e4e4 url("images/comNeg.png") no-repeat 0 0;
}
.subPage .main article.contact .contactHeader {
  overflow: hidden;
  color: #2e2e2e;
  font-size: 24px;
  line-height: 28px;
  margin: 6px 30px 27px 30px;
}
.subPage .main article.contact .leftContact {
  width: 188px;
  overflow: hidden;
  float: left;
  margin: 0 0 0 20px;
  text-align: center;
}
.subPage .main article.contact .leftContact p {
  font-size: 14px;
  color: #181818;
  line-height: 17px;
}
.subPage .main article.contact .leftContact a {
  display: inline-block;
  overflow: hidden;
  font-size: 10px;
  color: #181818;
  padding: 10px 0;
  font-weight: bold;
}
.subPage .main article.contact .centerContact {
  width: 54px;
  overflow: hidden;
  float: left;
  margin: 0;
  position: relative;
}
.subPage .main article.contact .centerContact div {
  width: 26px;
  height: 100px;
  overflow: hidden;
  float: left;
  border-right: 1px solid #d3d3d3;
}
.subPage .main article.contact .centerContact div + div {
  width: 41px;
  height: 39px;
  overflow: hidden;
  background: #ffffff url("images/koperta.png") no-repeat 0 0;
  float: none;
  border: 0;
  position: absolute;
  top: 30px;
  left: 7px;
}
.subPage .main article.contact .rightContact {
  width: 405px;
  overflow: hidden;
  float: right;
  margin: 0 36px 0 0;
}
.subPage .main article.contact .rightContact .askQuestion {
  font-size: 14px;
  text-decoration: underline;
  color: #181818;
  margin: 0 0 5px 0;
}
.subPage .main article.contact .rightContact .inputLeft {
  width: 193px;
  float: left;
  overflow: hidden;
  margin: 0 19px 0 0;
}
.subPage .main article.contact .rightContact .inputRight {
  width: 193px;
  float: left;
  overflow: hidden;
}
.subPage .main article.contact .rightContact label {
  display: block;
  height: 22px;
  line-height: 22px;
  color: #323232;
  font-weight: bold;
  font-size: 11px;
}
.subPage .main article.contact .rightContact input[type=text] {
  width: 175px;
  height: 16px;
  padding: 3px 7px;
  display: block;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 3px rgba(21, 24, 25, 0.16);
  -moz-box-shadow: inset 0 0 3px rgba(21, 24, 25, 0.16);
  box-shadow: inset 0 0 3px rgba(21, 24, 25, 0.16);
  border: solid 1px #d3d3d3;
  margin: 0 0 3px 0;
  outline: none;
}
.subPage .main article.contact .rightContact textarea {
  width: 387px;
  height: 99px;
  padding: 5px 7px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 3px rgba(21, 24, 25, 0.16);
  -moz-box-shadow: inset 0 0 3px rgba(21, 24, 25, 0.16);
  box-shadow: inset 0 0 3px rgba(21, 24, 25, 0.16);
  border: solid 1px #d3d3d3;
  margin: 0 0 3px 0;
  resize: vertical;
  outline: none;
}
.subPage .main article.contact .rightContact .captcha-wrapper {
  margin-top: 10px;
  float: left;
}
.subPage .main article.contact .rightContact .submit {
  width: 121px;
  height: 50px;
  overflow: hidden;
  float: right;
  margin: 10px 0 0 0;
}
.subPage .main article.contact .rightContact .submit input[type=submit] {
  outline: none;
  display: block;
  width: 121px;
  height: 34px;
  margin: 13px 0 0 0;
  background: #c9ab84;
  border: 0;
  border-bottom: 2px solid #5a390e;
  color: #fff;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  text-shadow: 1px 2px 0px #957e61;
  text-align: center;
}
.subPage .main article.contact .rightContact .errors {
  margin: 10px 0;
}
.subPage .main article.contact .rightContact .errors > span {
  color: red;
  font-weight: bold;
}
.subPage .main article.contact .rightContact .errors ul li {
  background: none;
  list-style: circle;
  color: red;
}
.otherFold header .fold .foldContent {
  top: 140px;
}
.otherFold header .fold .foldContent h1 {
  font-size: 27px;
  margin-top: -4px;
  line-height: 26px;
}
.otherFold header .fold .foldContent h2 {
  font-size: 26px;
}
.otherFold header .fold .whatWeDoBox {
  margin: 30px;
}
.select2-container.normal-container.error .select2-choice,
.select2-container.medium-container.error .select2-choice {
  border-color: #da6969;
}
.select2-container.normal-container .select2-choice,
.select2-container.medium-container .select2-choice {
  display: block;
  width: 227px;
  height: 27px;
  padding: 0;
  overflow: hidden;
  position: relative;
  border: 1px solid #d3d3d3;
  border-radius: 0;
  white-space: nowrap;
  line-height: 27px;
  text-decoration: none;
  background-clip: padding-box;
  background: #fff;
  color: #606060;
  font-family: Arial, 'sans-serif';
}
.select2-container.normal-container .select2-choice > .select2-chosen,
.select2-container.medium-container .select2-choice > .select2-chosen {
  margin: 0;
  width: 185px;
  padding-left: 8px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 12px;
}
.select2-container.normal-container .select2-choice .select2-arrow,
.select2-container.medium-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 1px;
  top: 1px;
  border: 0;
  border-radius: 0;
  filter: none;
  background: transparent url("images/custom-select-arrow.png") no-repeat;
}
.select2-container.normal-container .select2-choice .select2-arrow b,
.select2-container.medium-container .select2-choice .select2-arrow b {
  display: none;
  background: none;
}
.select2-container.normal-container .select2-default .select2-chosen,
.select2-container.medium-container .select2-default .select2-chosen {
  color: #606060;
}
.select2-container.normal-container .select2-search-choice-close,
.select2-container.medium-container .select2-search-choice-close {
  right: 26px;
  top: 7px;
}
.select2-drop.normal-dropdown,
.select2-drop.medium-dropdown {
  border: 1px solid #d3d3d3;
  padding-top: 2px;
}
.select2-drop.normal-dropdown .select2-results,
.select2-drop.medium-dropdown .select2-results {
  font-size: 12px;
}
.select2-drop.normal-dropdown .select2-results .select2-highlighted,
.select2-drop.medium-dropdown .select2-results .select2-highlighted {
  background: #363636;
}
.select2-container.medium-container .select2-choice {
  width: 135px;
  height: 22px;
  line-height: 22px;
}
.select2-container.medium-container .select2-choice > .select2-chosen {
  width: 98px;
}
.select2-container.medium-container .select2-choice .select2-arrow {
  width: 20px;
  height: 20px;
  background: transparent url("images/custom-select-arrow-medium.png") no-repeat;
}
.select2-container.medium-container .select2-search-choice-close {
  right: 22px;
  top: 5px;
}
.select2-container-disabled .select2-chosen {
  color: gray;
}
.select2-container-disabled .select2-arrow {
  filter: gray;
  /* IE6-9 */

  filter: grayscale(1);
  /* Firefox 35+ */

  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */

}
.button-medium {
  display: inline-block;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: transparent url("images/button-green-bg-32.png") repeat-x;
  font: bold 12px/32px Arial;
  border-bottom: 2px solid #025f3f;
  padding: 0 9px;
  margin: 0;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  text-shadow: 1px 2px 0px #0e8e63;
}
.button-medium:hover {
  border-bottom-width: 0px;
}
.welcomePopup {
  width: 506px;
  height: 254px;
  background: url("images/welcome-popup-bg.png") no-repeat;
}
.select2-container.full-width-container {
  width: 100%;
}
.select2-container.full-width-container.select2-container-multi .select2-choices .select2-search-field input {
  border: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  min-width: 50px;
  float: left;
  overflow: hidden;
}
.select2-container.full-width-container .select2-search-field {
  background: none !important;
}
.select2-container.full-width-container .select2-choices {
  border: 0;
}
.select2-drop.full-width-dropdown.select2-drop-active {
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  -moz-box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
  box-shadow: inset 0 0 5px rgba(21, 24, 25, 0.16);
}
.keywordForm .select2-drop,
.markForm .select2-drop {
  display: none !important;
}
.thanksPopup {
  width: 506px;
  height: 254px;
  background: url("images/thanks-popup-bg.png") no-repeat;
  overflow: hidden;
  position: relative;
}
.thanksPopup.forOfferShare {
  text-align: center;
}
.thanksPopup.forOfferShare .text-1 {
  margin-top: 91px;
  font: bold 22px/28px Arial;
  color: #ccfaff;
  text-shadow: 0px 1px 1px #2b5eb3;
}
.thanksPopup.forOfferShare .text-2 {
  margin-top: 15px;
  font: normal 14px/18px Arial;
  color: #fff;
  text-shadow: 0px 1px 1px #285cb1;
}
.thanksPopup.offerLinkRequest {
  text-align: center;
}
.thanksPopup.offerLinkRequest .text-1 {
  margin-top: 91px;
  font: bold 22px/28px Arial;
  color: #ccfaff;
  text-shadow: 0px 1px 1px #2b5eb3;
  padding: 0 20px;
}
.breadcrumbs {
  display: block;
  position: absolute;
  margin: 0 0 0 5px;
  padding: 0;
  left: 0;
  top: 194px;
}
.breadcrumbs li {
  list-style: none;
  float: left;
  padding-left: 17px;
  margin-left: 15px;
  font: bold 11px/20px Arial;
  color: #323232;
  background: url("images/breadcrumbs-separator.png") 0 50% no-repeat;
}
.breadcrumbs li.first {
  background: none;
  margin-left: 0;
  padding-left: 0;
}
.breadcrumbs li a {
  color: #323232;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  display: block;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}
.trevda.homepageTopUnderBreadcrumbs .item {
  display: block;
  margin: 0 auto 5px;
  max-width: 970px;
  max-height: 90px;
  overflow: hidden;
  text-align: center;
}
.trevda.homepageTopUnderBreadcrumbs .item:last-child {
  margin-bottom: 15px;
}
.trevda.searchResultsWithCategoryUnderMap {
  display: block;
  margin: 18px auto 0;
  text-align: center;
  max-width: 728px;
  max-height: 90px;
  overflow: hidden;
}
.newsletter-popup-wrapper #cboxTopLeft,
.information-popup-wrapper #cboxTopLeft,
.newsletter-popup-wrapper #cboxTopCenter,
.information-popup-wrapper #cboxTopCenter,
.newsletter-popup-wrapper #cboxTopRight,
.information-popup-wrapper #cboxTopRight,
.newsletter-popup-wrapper #cboxMiddleLeft,
.information-popup-wrapper #cboxMiddleLeft,
.newsletter-popup-wrapper #cboxMiddleRight,
.information-popup-wrapper #cboxMiddleRight,
.newsletter-popup-wrapper #cboxBottomLeft,
.information-popup-wrapper #cboxBottomLeft,
.newsletter-popup-wrapper #cboxBottomCenter,
.information-popup-wrapper #cboxBottomCenter,
.newsletter-popup-wrapper #cboxBottomRight,
.information-popup-wrapper #cboxBottomRight {
  display: none;
  width: 0;
  height: 0;
}
.newsletter-popup-wrapper #cboxLoadedContent,
.information-popup-wrapper #cboxLoadedContent {
  margin-bottom: 0;
}
.newsletter-popup-wrapper #cboxLoadingOverlay,
.information-popup-wrapper #cboxLoadingOverlay {
  background-position: center center;
}
.newsletter-popup {
  width: 624px;
  background: #825b28 url("images/newsletter_popup_bg.png") center center no-repeat;
  position: relative;
  overflow: hidden;
  font-family: Arial, sans-serif;
  text-align: center;
  z-index: 1002;
}
.newsletter-popup:before {
  position: absolute;
  content: "";
  background: url("images/newsletter_popup_ico.png") no-repeat;
  width: 48px;
  height: 36px;
  left: 50%;
  margin-left: -24px;
  top: 43px;
}
.newsletter-popup .info {
  margin-top: 110px;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  line-height: 23px;
  color: #fff;
}
.newsletter-popup input {
  display: block;
  outline: none;
}
.newsletter-popup input[type="text"] {
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 0 8px rgba(21, 24, 25, 0.4);
  -moz-box-shadow: inset 0 0 8px rgba(21, 24, 25, 0.4);
  box-shadow: inset 0 0 8px rgba(21, 24, 25, 0.4);
  width: 354px;
  height: 39px;
  line-height: 41px;
  padding: 0 5px;
  margin: 43px auto 0;
  color: #7b7b7b;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
}
.newsletter-popup input[type="submit"] {
  margin: 17px auto 0;
  width: 144px;
  height: 32px;
  border: 0;
  border-bottom: 2px solid #5a390e;
  background: #c9ab84;
  display: block;
  outline: none;
  padding: 0;
  font: bold 15px/30px Arial;
  text-align: center;
  color: #fff;
  -webkit-text-shadow: 1px 1px 1px #8f785b;
  text-shadow: 1px 1px 1px #8f785b;
}
.newsletter-popup form ul li {
  display: block;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  margin: 0;
  padding: 3px 0 0;
  text-align: center;
}
.newsletter-popup .subscription-created {
  color: #43c599;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0 -15px 0;
}
.newsletter-popup .site-name {
  display: block;
  outline: none;
  text-decoration: none;
  margin: 28px auto 26px;
  font: bold 15px/24px Arial;
  color: #c9ab84;
}
.newsletter-popup .preloader {
  width: 32px;
  height: 32px;
  background: url("images/newsletter_submit_preloader.svg") no-repeat;
  display: none;
  margin: 10px auto 0;
}
.newsletter-subscribe-button {
  display: block;
  margin: 54px 0 0;
  padding: 0;
  width: 213px;
  height: 84px;
  background: #825b28 url("images/subscribe-to-newsletter-button-ico.png") no-repeat 138px 25px;
  border-radius: 9px;
  outline: none;
  overflow: hidden;
}
.newsletter-subscribe-button span {
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 16px;
}
.newsletter-subscribe-button .info {
  display: block;
  font-size: 16px;
  margin: 24px 0 0 20px;
}
.newsletter-subscribe-button .info > span {
  font-size: 21px;
}
.information-popup {
  width: 400px;
  background-color: #376cc4;
  position: relative;
  overflow: hidden;
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  line-height: 23px;
  color: #fff;
  margin: 0;
  padding: 30px;
}
.popup-form-trigger {
  background-color: #825b28;
  border-radius: 8px 8px 0 0;
  box-shadow: -5px 0 0 #5a390e;
  display: flex;
  justify-content: center;
  position: fixed;
  right: -77px;
  top: 42%;
  transform: rotate(-90deg);
  height: 70px;
  width: 205px;
  transition: right .2s;
  z-index: 1010;
}
.popup-form-trigger:hover {
  right: -67px;
}
.popup-form-trigger a {
  color: #fff;
  display: block;
  font-size: 16px;
  padding-top: 21px;
  font-weight: 600;
}
.popup-form-trigger a span {
  color: #ffc477;
}
.popup-form-container {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  height: 100%;
  font-family: 'Arial';
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1008;
}
.popup-form-container .popup-clickable {
  left: 0;
  height: 100%;
  content: "";
  position: absolute;
  width: 100%;
  z-index: 1009;
}
.popup-form-container .popup-form {
  background: #825b28;
  position: fixed;
  z-index: 1009;
  top: 80px;
  left: 30%;
  padding: 104px 0 30px;
  margin: auto;
  right: 30%;
  text-align: center;
  width: 620px;
}
.popup-form-container .popup-form:before {
  background: url("images/envelope.png") no-repeat center center;
  content: "";
  text-align: center;
  height: 38px;
  left: 0;
  right: 0;
  margin: auto;
  top: 40px;
  position: absolute;
  width: 50px;
  z-index: 1007;
}
.popup-form-container .popup-form .inside-container {
  margin: 0 auto;
  max-width: 402px;
}
.popup-form-container .popup-form .inside-container .color-white {
  color: #fff;
}
.popup-form-container .popup-form .inside-container .color-white h3 {
  font-size: 23px;
  font-weight: 700;
  margin-top: 0;
}
.popup-form-container .popup-form .inside-container p {
  margin: 5px 0;
  font-size: 16px;
}
.popup-form-container .popup-form .inside-container p.we-will-call {
  font-size: 18px;
  font-weight: 700;
}
.popup-form-container .popup-form .inside-container p.bleached {
  color: #c9ab84;
  font-family: 'Open Sans';
  font-size: 15px;
}
.popup-form-container .popup-form .inside-container p.bleached span {
  font-weight: 700;
}
.popup-form-container .popup-form .inside-container #PopupFormType {
  padding: 15px 0 0;
}
.popup-form-container .popup-form .inside-container #PopupFormType input,
.popup-form-container .popup-form .inside-container #PopupFormType textarea,
.popup-form-container .popup-form .inside-container #PopupFormType select {
  box-shadow: inset 0 0 15px #999;
  background-color: transparerent;
  border: none;
  font-size: 12px;
  text-align: center;
  width: 100%;
}
.popup-form-container .popup-form .inside-container #PopupFormType input::placeholder,
.popup-form-container .popup-form .inside-container #PopupFormType textarea::placeholder,
.popup-form-container .popup-form .inside-container #PopupFormType select::placeholder {
  color: #7b7b7b;
}
.popup-form-container .popup-form .inside-container #PopupFormType select,
.popup-form-container .popup-form .inside-container #PopupFormType input[type="text"] {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.popup-form-container .popup-form .inside-container #PopupFormType select,
.popup-form-container .popup-form .inside-container #PopupFormType option {
  color: #7b7b7b;
}
.popup-form-container .popup-form .inside-container #PopupFormType option {
  padding: 5px;
  font-size: 13px;
}
.popup-form-container .popup-form .inside-container #PopupFormType div:nth-child(3) {
  background-color: #fff;
  position: relative;
  z-index: 1001;
}
.popup-form-container .popup-form .inside-container #PopupFormType div:nth-child(3) select.select-dropdown {
  background: transparent;
  box-shadow: inset 0 0 10px #999;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  color: #666;
  text-align-last: center;
  position: relative;
  z-index: 1004;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.popup-form-container .popup-form .inside-container #PopupFormType div:nth-child(3) select.select-dropdown option {
  font-size: 16px;
}
.popup-form-container .popup-form .inside-container #PopupFormType div:nth-child(3).rotated:before {
  transform: rotate(180deg);
}
.popup-form-container .popup-form .inside-container #PopupFormType div:nth-child(3):after {
  content: "";
  background-color: #393939;
  display: block;
  height: 34px;
  right: 3px;
  position: absolute;
  top: 3px;
  width: 34px;
  z-index: 1003;
}
.popup-form-container .popup-form .inside-container #PopupFormType div:nth-child(3):before {
  background: url("images/down-arrow.png") no-repeat center center;
  content: "";
  height: 34px;
  position: absolute;
  right: 3px;
  top: 3px;
  transition: transform .3s;
  width: 34px;
  z-index: 1004;
}
.popup-form-container .popup-form .inside-container #PopupFormType input[type="radio"] {
  box-shadow: none;
  vertical-align: middle;
  margin: 0;
}
.popup-form-container .popup-form .inside-container #PopupFormType label {
  font-size: 13px;
}
.popup-form-container .popup-form .inside-container #PopupFormType div {
  min-height: 40px;
  margin: 8px 0;
  overflow: hidden;
}
.popup-form-container .popup-form .inside-container #PopupFormType div.radio {
  clear: both;
}
.popup-form-container .popup-form .inside-container #PopupFormType textarea {
  height: 90px;
  padding-top: 15px;
  width: 100% !important;
}
.popup-form-container .popup-form .inside-container .send-popup-button {
  background-color: #c9ab84;
  box-shadow: 0 2px 0 #5a390e;
  border: none;
  height: 30px;
  font-weight: 700;
  margin: 16px 0;
  line-height: 25px;
  color: #fff;
  text-shadow: 0 0 5px #8b7458;
  width: 145px;
}
.close-btn {
  height: 25px;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 1011;
  transition: rotate .3s;
  width: 25px;
}
.close-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.close-btn i {
  color: #fff;
  line-height: 9px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #606060;
  font-size: 12px;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #606060;
  font-size: 12px;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #606060;
  font-size: 12px;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #606060;
  font-size: 12px;
}
.hidden {
  display: none;
}
