{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form_fieldset %}
    <fieldset>
        <legend>Główne informacje</legend>
        <div class="sonata-ba-collapsed-fields">
                {{ form_row(form['title'])}}
                {{ form_row(form['url'])}}
                {{ form_row(form['isActive'])}}

                <div class="control-group">
                    <label></label>
                    <div class="controls">
                    {% if  object.getWebPath() %}
                            <a href="{{ asset(object.getWebPath())  }}">
                                    <img src="{{ asset(object.getWebPath() | imagine_filter('admin_med') ) }}" />
                            </a>
                    {% else %}
                    {% endif %}
                    </div>
                </div>

                {{ form_row(form['_file_image'])}}
        </div>
    </fieldset>
{% endblock %}
