{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{%  block javascripts %}
	{{ parent() }}

    <script type="text/javascript">
		var edytor_css  = '{{ asset('bundles/lmcms/css/editor.css') }}';
		var edytor_css2  = '{{ asset('bundles/lmcms/ckeditor/contents.css') }}';
		var edytor_browse_url = '{{ path('lm_cms_main_browse') }}';
	</script>

	<script src="{{ asset('bundles/lmcms/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/lmcms/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/lmcms/js/wysiwyg2.js') }}" type="text/javascript"></script>

{%  endblock %}

{% block form_fieldset %}
	<fieldset>
            <legend>Główne informacje</legend>
            <div class="sonata-ba-collapsed-fields">
                {{ form_row(form['name'])}}
                {{ form_row(form['slug'])}}
                {{ form_row(form['description'])}}
                {{ form_row(form['advert'])}}
                {{ form_row(form['metaDescription'])}}

                <div class="control-group">
                    <label></label>
                    <div class="controls">
                    {% if  object.getWebPath() %}
                            <a href="{{ asset(object.getWebPath())  }}">
                                    <img src="{{ asset(object.getWebPath() | imagine_filter('admin_med') ) }}" />
                            </a>
                    {% else %}
                    {% endif %}
                    </div>
                </div>
                {{ form_row(form['_file_image'])}}
            </div>
	</fieldset>
{% endblock %}
