
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}
	{% if object.photo and object.photo.getWebPath %}
	<a href="{{ asset(object.photo.getWebPath) }}">
		<img src="{{ object.photo.getWebPath | imagine_filter('admin_small') }}" />
	</a>

	{% endif %}
{% endblock %}


