{% block captcha_widget %}
{% spaceless %}
    <img src="{{ captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
    {{ form_label(form) }}
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}
