{% extends 'SonataAdminBundle::standard_layout.html.twig' %}


        {% block stylesheets %}
        	{{ parent() }}
            <link rel="stylesheet" href="{{ asset('bundles/lmcms/bootstrap/bootstrap-fileupload.min.css') }}" type="text/css" media="all">
            <link rel="stylesheet" href="{{ asset('bundles/lmcms/css/admin.css') }}" type="text/css" media="all">
            <link rel="stylesheet" href="{{ asset('bundles/a2lixtranslationform/css/a2lix_translation.css') }}" type="text/css" media="all">
        {% endblock %}

        {% block javascripts %}
        {{ parent() }}
            <script src="{{ asset('bundles/lmcms/js/admin.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/lmcms/bootstrap/bootstrap-fileupload.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/a2lixtranslationform/js/a2lix_translation.js') }}" type="text/javascript"></script>
        {% endblock %}

        {% block footer %}
                <div class="pull-right clearfix">
                    <span class="label">Realizacja <a href="http://www.lemonadestudio.pl" rel="noreferrer" style="text-decoration: none; color: black">Lemonade Studio</a></span>
                </div>
       {% endblock %}
