<div class="newsletter-popup">
    <div class="close-btn">
        <a href="#" id="close-newsletter" onClick="$.colorbox.close();">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class="info">
        Zapisz się do newslettera<br />
        i&nbsp;bądź na bieżąco<br />
        z&nbsp;najnowszymi promocjami!
    </div>

    {% include 'LmCmsBundle:Newsletter:subscribeForm.html.twig' with { form: form, isSubscriptionCreated: isSubscriptionCreated } %}
    
    <a class="site-name" href="{{ path('lm_cms_main_homepage') }}">kancelarie-odszkodowania.pl</a>
</div>
