<form method="post" action="{{ path('lm_cms_newsletter_subscribe') }}" novalidate>
    {% if isSubscriptionCreated %}
        <div class="subscription-created">Subskrypcja została dodana. Na twój e-mail został wysłany link aktywacyjny.</div>
    {% endif %}

    {{ form_widget(form.email, { attr: { placeholder: 'Wpisz swój adres e-mail' }}) }}
    {{ form_errors(form.email) }}
    
    <div class="preloader"></div>
    <input type="submit" value="Zapisz się" />

    {{ form_rest(form) }}
</form>
