<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <p>Dziękujemy za dokonanie subskrypcji.</p>
    <p>Do aktywacji konta potrzebna jest weryfikacja adresu e-mail.</p>
    <hr />
    <p>Aby potwierdzić proszę kliknąć w link: <a href="{{ subscriptionActivationUrl }}">aktywuj subskrypcję</a></p>
</body>
</html>
